:root {
  --layout-sidebar-left-display: block;
  --layout-sidebar-right-display: block;
  --layout-sidebar-left-width: 100%;
  --layout-sidebar-right-width: 100%;
  --layout-sidebar-left-row-end: initial;
  --layout-content-width: 100%;
  --layout-drawer-width: 300px;
  --layout-gap: var(--su-2);
  --layout-padding: 0;
  --layout: 100%;
}

@media (min-width: 768px) {
  :root {
    --layout-sidebar-left-width: 2fr;
    --layout-padding: var(--su-2);
    --layout: var(--layout-content-width);
  }
}

@media (min-width: 1024px) {
  :root {
    --layout-sidebar-left-width: 240px;
    --layout-content-width: 1fr;
    --layout-gap: var(--su-4);
    --layout-padding: var(--su-4);
  }
}

.crayons-layout {
  font-size: var(--fs-base);
  width: 100%;
  max-width: var(--site-width);
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  grid-gap: var(--layout-gap);
  -ms-grid-columns: var(--layout);
      grid-template-columns: var(--layout);
  padding: var(--layout-padding);
}

.crayons-layout__sidebar-left {
  display: var(--layout-sidebar-left-display);
  grid-row-end: var(--layout-sidebar-left-row-end);
  width: var(--layout-sidebar-left-width);
}

.crayons-layout__sidebar-right {
  display: var(--layout-sidebar-right-display);
  width: var(--layout-sidebar-right-width);
}

.crayons-layout__content {
  min-width: 0;
}

.crayons-layout__content__inner {
  margin: 0 auto;
  width: 100%;
}

.crayons-layout--limited-l {
  --site-width: 1024px;
}

.crayons-layout--limited-m {
  --site-width: 768px;
}

.crayons-layout--limited-s {
  --site-width: 640px;
}

.crayons-layout--limited-xs {
  --site-width: 480px;
}

.crayons-layout--limited-inner-l .crayons-layout__content__inner {
  max-width: 1024px;
}

.crayons-layout--limited-inner-m .crayons-layout__content__inner {
  max-width: 768px;
}

.crayons-layout--limited-inner-s .crayons-layout__content__inner {
  max-width: 640px;
}

@media (min-width: 768px) {
  .crayons-layout--2-cols {
    --layout: var(--layout-sidebar-left-width) var(--layout-content-width);
    --layout-content-width: 5fr;
  }
}

@media (min-width: 1024px) {
  .crayons-layout--2-cols {
    --layout-sidebar-left-width: 240px;
    --layout-content-width: 1fr;
    --layout-gap: var(--su-4);
  }
}

.crayons-layout--2-cols.crayons-layout--limited-inner .crayons-layout__content__inner {
  max-width: 768px;
  margin: 0 auto;
  width: 100%;
}

.crayons-layout--2-cols--inverted .crayons-layout__sidebar-right {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

@media (min-width: 768px) {
  .crayons-layout--2-cols--inverted {
    --layout: var(--layout-content-width) var(--layout-sidebar-left-width);
  }
  .crayons-layout--2-cols--inverted .crayons-layout__sidebar-right {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media (min-width: 768px) {
  .crayons-layout--3-cols {
    --layout: var(--layout-sidebar-left-width) var(--layout-content-width);
    --layout-sidebar-left-row-end: span 2;
    --layout-sidebar-left-width: 2fr;
    --layout-sidebar-right-width: 5fr;
    --layout-content-width: 5fr;
  }
}

@media (min-width: 1024px) {
  .crayons-layout--3-cols {
    --layout-sidebar-left-width: 240px;
    --layout-sidebar-right-width: 1fr;
    --layout-sidebar-left-row-end: initial;
    --layout-content-width: 2fr;
    --layout: var(--layout-sidebar-left-width) var(--layout-content-width)
      var(--layout-sidebar-right-width);
  }
}

.crayons-layout--3-cols--drop-right-left {
  --layout-sidebar-left-display: none;
  --layout-sidebar-right-display: none;
  --layout-sidebar-left-width: var(--layout-drawer-width);
  --layout-sidebar-right-width: var(--layout-drawer-width);
}

@media (min-width: 768px) {
  .crayons-layout--3-cols--drop-right-left {
    --layout-sidebar-left-width: 2fr;
    --layout-sidebar-left-row-end: initial;
    --layout-sidebar-left-display: block;
  }
}

@media (min-width: 1024px) {
  .crayons-layout--3-cols--drop-right-left {
    --layout-sidebar-right-display: block;
    --layout-sidebar-right-width: 1fr;
    --layout-sidebar-left-width: 240px;
  }
}

.crayons-layout--article {
  --layout-gap: 0;
}

@media (min-width: 768px) {
  .crayons-layout--article {
    --layout-gap: var(--su-2);
    --layout-sidebar-left-width: var(--su-9);
    --layout: var(--layout-sidebar-left-width) 1fr;
    --layout-sidebar-left-row-end: span 2;
  }
}

@media (min-width: 1024px) {
  .crayons-layout--article {
    --layout-gap: var(--su-4);
    --layout-sidebar-right-width: 3fr;
    --layout-sidebar-left-row-end: initial;
    --layout-content-width: 7fr;
    --layout: var(--layout-sidebar-left-width) var(--layout-content-width)
      var(--layout-sidebar-right-width);
  }
}

.crayons-layout__sidebar-left .sidebar-bg,
.crayons-layout__sidebar-right .sidebar-bg {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  -webkit-animation: fade-in var(--transition-props);
          animation: fade-in var(--transition-props);
  display: none;
}

.crayons-layout__sidebar-left.swiped-in,
.crayons-layout__sidebar-right.swiped-in {
  z-index: var(--z-drawer);
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  -webkit-overflow-scrolling: touch;
}

.crayons-layout__sidebar-left.swiped-in .sidebar-bg,
.crayons-layout__sidebar-right.swiped-in .sidebar-bg {
  display: block;
}

.crayons-layout__sidebar-left.swiped-in .side-bar,
.crayons-layout__sidebar-right.swiped-in .side-bar {
  position: relative;
  background: var(--body-bg);
  padding: 16px;
  -ms-flex-line-pack: start;
      align-content: start;
  height: 100%;
  overflow-y: auto;
}

.crayons-layout__sidebar-left.swiped-in {
  left: 0;
}

.crayons-layout__sidebar-right.swiped-in {
  right: 0;
}

.zen-mode {
  --site-width: 1024px;
  --header-height: 0;
}

.zen-mode .crayons-layout--3-cols {
  --layout: var(--layout-sidebar-left-width) 1fr;
}

@media (min-width: 768px) {
  .zen-mode .crayons-layout--3-cols {
    --layout: var(--layout-sidebar-left-width) 1fr;
  }
}

.zen-mode .crayons-header,
.zen-mode .crayons-footer,
.zen-mode .crayons-article-sticky,
.zen-mode .crayons-layout__sidebar-right {
  display: none;
}

:root {
  --content-padding-x: var(--su-3);
  --content-padding-y: var(--su-3);
}

@media (min-width: 640px) {
  :root {
    --content-padding-x: var(--su-5);
    --content-padding-y: var(--su-5);
  }
}

@media (min-width: 768px) {
  :root {
    --content-padding-x: var(--su-8);
    --content-padding-y: var(--su-7);
  }
}

@media (min-width: 1280px) {
  :root {
    --content-padding-x: var(--su-9);
  }
}

.text-padding {
  padding: var(--content-padding-y) var(--content-padding-x);
}
/*# sourceMappingURL=layout.css.map */