.article-wrapper {
  min-width: 0;
}

.crayons-article__cover {
  position: relative;
  width: 100%;
  padding-top: 42%;
}

.crayons-article__cover__image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: var(--radius) var(--radius) 0 0;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.crayons-article__video {
  background: black;
}

.crayons-article__video__player:empty {
  width: 100%;
  padding-top: 56.25%;
}

.crayons-article__header {
  overflow-wrap: anywhere;
  word-break: break-word;
}

.crayons-article__header__meta {
  padding: var(--content-padding-y) var(--content-padding-x) 0 var(--content-padding-x);
}

.crayons-article__subheader {
  font-size: var(--fs-base);
  color: var(--base-60);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.crayons-article__main {
  padding: var(--content-padding-y) var(--content-padding-x);
  gap: var(--su-7);
}

.crayons-article__body {
  overflow-wrap: break-word;
}

.crayons-article-actions {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding: var(--su-2);
  background: var(--body-bg);
  -webkit-box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.1);
  z-index: var(--z-sticky);
}

@media (min-width: 768px) {
  .crayons-article-actions {
    padding: 0;
    padding-bottom: 0;
    display: -ms-grid;
    display: grid;
    gap: var(--su-6);
    position: -webkit-sticky;
    position: sticky;
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-box-pack: stretch;
        -ms-flex-pack: stretch;
            justify-content: stretch;
    top: calc(var(--header-height) + var(--layout-padding) + 6vh);
  }
}

.crayons-article-actions__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-bottom: env(safe-area-inset-bottom);
}

@media (min-width: 768px) {
  .crayons-article-actions__inner {
    display: -ms-grid;
    display: grid;
    gap: var(--su-6);
    -webkit-box-pack: stretch;
        -ms-flex-pack: stretch;
            justify-content: stretch;
  }
}

.crayons-reaction {
  --reaction-color: var(--button-ghost-color);
  --reaction-border: inset 0 0 0 0 transparent;
  --reaction-bg: transparent;
  border: none;
  padding: 0;
  background: transparent;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  .crayons-reaction {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.crayons-reaction__icon {
  padding: var(--su-2);
  -webkit-box-shadow: var(--reaction-border);
          box-shadow: var(--reaction-border);
  background: var(--reaction-bg);
  color: var(--reaction-color);
  border-radius: 50%;
  -webkit-transition: all var(--transition-props);
  transition: all var(--transition-props);
}

.crayons-reaction__icon--active {
  display: none;
}

.crayons-reaction__count {
  color: var(--base-70);
  font-size: var(--fs-s);
  display: block;
  min-width: var(--su-7);
}

@media (min-width: 768px) {
  .crayons-reaction__count {
    min-width: auto;
  }
}

.crayons-reaction.user-activated {
  --reaction-border: inset 0 0 0 2px var(--reaction-color);
}

.crayons-reaction.user-activated .crayons-reaction__icon--inactive {
  display: none;
}

.crayons-reaction.user-activated .crayons-reaction__icon--active {
  display: block;
}

.crayons-reaction.user-activated .crayons-reaction__count {
  color: var(--reaction-color);
}

.crayons-reaction--like:hover, .crayons-reaction--like.user-activated {
  --reaction-color: var(--reaction-like-color);
  --reaction-bg: var(--reaction-like-bg);
}

.crayons-reaction--unicorn:hover, .crayons-reaction--unicorn.user-activated {
  --reaction-color: var(--reaction-custom-color);
  --reaction-bg: var(--reaction-custom-bg);
}

.crayons-reaction--readinglist:hover, .crayons-reaction--readinglist.user-activated {
  --reaction-color: var(--reaction-save-color);
  --reaction-bg: var(--reaction-save-bg);
}

.user-animated .crayons-reaction__icon {
  position: relative;
  -webkit-animation-name: iconPop;
          animation-name: iconPop;
  -webkit-animation-duration: 0.25s;
          animation-duration: 0.25s;
}

.user-animated .crayons-reaction__icon:before {
  content: '';
  position: absolute;
  pointer-events: none;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 4px currentColor;
          box-shadow: 0 0 0 4px currentColor;
  opacity: 0;
  -webkit-transform: scale(2);
          transform: scale(2);
  -webkit-animation-name: ringPop;
          animation-name: ringPop;
  -webkit-animation-duration: 0.25s;
          animation-duration: 0.25s;
}

.user-animated .crayons-reaction__icon:after {
  content: '';
  position: absolute;
  pointer-events: none;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 0 transparent;
          box-shadow: 0 0 0 0 transparent;
  opacity: 0;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-animation-name: ringPop2;
          animation-name: ringPop2;
  -webkit-animation-duration: 0.75s;
          animation-duration: 0.75s;
}

@-webkit-keyframes iconPop {
  0% {
    -webkit-transform: scale(0.65);
            transform: scale(0.65);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes iconPop {
  0% {
    -webkit-transform: scale(0.65);
            transform: scale(0.65);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes ringPop {
  0% {
    -webkit-transform: scale(2);
            transform: scale(2);
    -webkit-box-shadow: 0 0 0 4px currentColor;
            box-shadow: 0 0 0 4px currentColor;
    opacity: 0;
  }
  100% {
    -webkit-box-shadow: 0 0 0 1px currentColor;
            box-shadow: 0 0 0 1px currentColor;
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes ringPop {
  0% {
    -webkit-transform: scale(2);
            transform: scale(2);
    -webkit-box-shadow: 0 0 0 4px currentColor;
            box-shadow: 0 0 0 4px currentColor;
    opacity: 0;
  }
  100% {
    -webkit-box-shadow: 0 0 0 1px currentColor;
            box-shadow: 0 0 0 1px currentColor;
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes ringPop2 {
  0% {
    -webkit-box-shadow: 0 0 0 currentColor;
            box-shadow: 0 0 0 currentColor;
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0.6;
  }
  100% {
    -webkit-box-shadow: 0 0 1px 1px transparent;
            box-shadow: 0 0 1px 1px transparent;
    -webkit-transform: scale(4);
            transform: scale(4);
    opacity: 0;
  }
}

@keyframes ringPop2 {
  0% {
    -webkit-box-shadow: 0 0 0 currentColor;
            box-shadow: 0 0 0 currentColor;
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0.6;
  }
  100% {
    -webkit-box-shadow: 0 0 1px 1px transparent;
            box-shadow: 0 0 1px 1px transparent;
    -webkit-transform: scale(4);
            transform: scale(4);
    opacity: 0;
  }
}

.crayons-article-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: calc(var(--header-height) + var(--layout-padding));
}

.static-header .crayons-article-sticky {
  top: var(--layout-padding);
}

.user-metadata-details li + li {
  margin-top: var(--su-3);
}

.user-metadata-details .key {
  font-size: var(--fs-xs);
  font-weight: var(--fw-bold);
  text-transform: uppercase;
  color: var(--card-color-tertiary);
}
/*# sourceMappingURL=article.css.map */