.mod-center-heading {
  margin-top: var(--su-6);
  margin-bottom: var(--su-6);
}

@media (min-width: 768px) {
  .mod-index-header {
    padding: var(--su-2) 0 var(--su-6);
  }
}

.mod-index-list-header,
.moderation-single-article {
  border: none;
  -webkit-box-shadow: 0 0 0 1px var(--card-border);
          box-shadow: 0 0 0 1px var(--card-border);
}

.mod-index-list-header {
  background-color: var(--base-0);
  display: -ms-grid;
  display: grid;
  grid-column-gap: var(--su-2);
  padding: var(--su-2) var(--su-4);
}

@media (min-width: 768px) {
  .mod-index-list-header {
    -ms-grid-columns: 4fr 2fr 1fr;
        grid-template-columns: 4fr 2fr 1fr;
  }
}

.mod-index-list-header__label {
  font-size: var(--fs-s);
  font-weight: var(--fw-medium);
  color: var(--base-50);
}

.mod-index-list {
  margin: 0;
  width: 100%;
}

.moderation-single-article {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--base-inverted);
  display: -ms-grid;
  display: grid;
  grid-column-gap: var(--su-2);
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-row-gap: var(--su-1);
  padding: var(--su-4);
  text-align: left;
  width: 100%;
}

@media (min-width: 768px) {
  .moderation-single-article {
    -ms-grid-columns: 4fr 2fr 1fr;
        grid-template-columns: 4fr 2fr 1fr;
    grid-row-gap: 0;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
  }
}

.moderation-single-article:hover {
  background: var(--base-0);
}

.moderation-single-article:hover .article-title {
  color: var(--link-brand-color);
}

.moderation-single-article .article-title--label {
  font-weight: var(--fw-bold);
  font-size: var(--fs-base);
  line-height: var(--lh-tight);
  overflow: hidden;
  text-overflow: ellipsis;
}

.moderation-single-article .article-author {
  color: var(--base-80);
  font-size: var(--fs-s);
  line-height: var(--lh-tight);
  -ms-grid-row: 2;
  grid-row: 2;
}

@media (min-width: 768px) {
  .moderation-single-article .article-author {
    grid-row: inherit;
  }
}

.moderation-single-article .article-published-at {
  font-size: var(--fs-s);
  line-height: var(--lh-tight);
  -ms-flex-item-align: start;
      align-self: flex-start;
}

@media (min-width: 768px) {
  .moderation-single-article .article-published-at {
    font-weight: var(--fw-bold);
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

.moderation-single-article .article-iframes-container {
  border-radius: var(--radius);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 4;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.moderation-single-article .article-iframes-container.opened {
  margin-top: var(--su-4);
  border: 1px solid var(--base-20);
  -webkit-box-shadow: 0 0 4px 2px var(--base-10);
          box-shadow: 0 0 4px 2px var(--base-10);
}

.moderation-single-article .article-iframes-container iframe {
  border: none;
}

.moderation-single-article .article-iframes-container .article-iframe {
  width: 100%;
  height: 650px;
}

.moderation-single-article .article-iframes-container .actions-panel-iframe {
  width: 60%;
  height: 650px;
}

.mod-center--nav {
  overflow: hidden;
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .mod-center--nav {
    margin-bottom: var(--su-6);
  }
}

.mod-feedback {
  margin-top: var(--su-6);
  margin-left: var(--su-3);
}
/*# sourceMappingURL=mod-center.css.map */