/**
*
* Makes working with themeable CSS variables easier.
*
* $property: the CSS property to theme.
* $cssVariable: The CSS variable that will store the themed value.
* $fallback: The value to use as a fallback but as well for the CSS variable default value.
*/
/* Mixin for a load more wrapper, made by a container div and child button */
/**
*
* Generates the src property for @font-face. The mixin is required
* so that webpack for Storybook and the application can both
* generate the font URL correctly.
*
* $font: the font file name, e.g. 'OpenDyslexic-Regular.otf'
*/
.blank-space {
  height: 10px;
}

body.default-header .crayons-article .crayons-article__body [id] {
  scroll-margin-top: var(--header-height);
}

article {
  padding: 0 0;
  position: relative;
}

article .image {
  position: relative;
  width: 100%;
  margin: auto;
  max-width: 1024px;
  z-index: 2;
  height: 42vw;
}

@media screen and (min-width: 880px) {
  article .image {
    height: 370px;
  }
}

@media screen and (min-width: 950px) {
  article .image {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
  }
}

@media screen and (min-width: 1250px) {
  .home .container {
    margin-left: 16px;
  }
}

.container {
  width: 880px;
  max-width: 100%;
  margin: 0 auto 20px;
  text-align: left;
  background: var(--card-bg);
  border: none;
  border: var(--theme-container-border, none);
  -webkit-box-shadow: 0px 1px 1px rgba(10, 10, 10, 0.1), 0px 1px 2px rgba(10, 10, 10, 0.1), 0px 0px 1px rgba(10, 10, 10, 0.8);
          box-shadow: 0px 1px 1px rgba(10, 10, 10, 0.1), 0px 1px 2px rgba(10, 10, 10, 0.1), 0px 0px 1px rgba(10, 10, 10, 0.8);
  -webkit-box-shadow: var(--theme-container-box-shadow, 0px 1px 1px rgba(10, 10, 10, 0.1), 0px 1px 2px rgba(10, 10, 10, 0.1), 0px 0px 1px rgba(10, 10, 10, 0.8));
          box-shadow: var(--theme-container-box-shadow, 0px 1px 1px rgba(10, 10, 10, 0.1), 0px 1px 2px rgba(10, 10, 10, 0.1), 0px 0px 1px rgba(10, 10, 10, 0.8));
}

@media screen and (min-width: 950px) {
  .container {
    border-radius: var(--radius);
    margin-bottom: var(--su-2);
  }
}

@media screen and (min-width: 950px) {
  .container {
    border-radius: 3px;
    margin-top: 24px;
  }
}

.container.article {
  position: relative;
}

.container .title {
  z-index: 6;
  position: relative;
  width: 81%;
  font-family: var(--ff-sans-serif);
  max-width: 710px;
  margin: auto;
}

@media screen and (max-width: 750px) {
  .container .title {
    width: 90%;
  }
}

@media screen and (max-width: 430px) {
  .container .title {
    width: 93%;
  }
}

.container .title h1 {
  margin: 0 auto;
  padding: 14px 0 7px;
  font-weight: 700;
  min-height: 40px;
  font-size: calc(2vw + 26px);
  word-break: break-word;
  line-height: 1.28em;
}

@media screen and (min-width: 1600px) {
  .container .title h1 {
    font-size: 57px;
  }
}

.container .title h1 .title-block {
  display: inline-block;
}

.container .title h1.medium {
  font-size: calc(1.82vw + 25px);
}

@media screen and (min-width: 1600px) {
  .container .title h1.medium {
    font-size: 47px;
  }
}

.container .title h1.long {
  font-size: calc(1.48vw + 23px);
}

@media screen and (min-width: 1600px) {
  .container .title h1.long {
    font-size: 46px;
  }
}

.container .title h1.longer {
  font-size: calc(1.44vw + 22px);
}

@media screen and (min-width: 1600px) {
  .container .title h1.longer {
    font-size: 45px;
  }
}

.container .title h1.longest {
  font-size: calc(1.42vw + 22px);
}

@media screen and (min-width: 1600px) {
  .container .title h1.longest {
    font-size: 42px;
  }
}

.container .title h3 {
  margin: 2px auto;
  padding: 0;
  padding: 0 3px 16px;
  font-weight: 500;
  color: var(--card-color-tertiary);
  font-size: 13.5px;
  line-height: 1.8em;
}

@media screen and (min-width: 430px) {
  .container .title h3 {
    font-size: 15px;
  }
}

.container .title h3 .profile-pic {
  width: 28px;
  height: 28px;
  border-radius: 50px;
  display: inline-block;
  vertical-align: -9px;
  margin-right: 2px;
  background: #f5f6f7;
}

.container .title h3 a {
  color: var(--card-color-tertiary);
  text-decoration: none;
}

.container .title h3 .icon-img,
.container .title h3 .reader-image-tiny {
  opacity: 0.5;
  width: 18px;
  height: 18px;
  vertical-align: -4px;
  margin: 0 1px;
}

.container .title h3 .icon-img:hover,
.container .title h3 .reader-image-tiny:hover {
  opacity: 0.6;
}

.container .title h3 .published-at {
  margin-right: 0;
  display: inline-block;
}

.container .title h3 .posted-date-inline {
  display: inline-block;
}

.container .title h3 .action-space {
  padding: 0 0 0 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  min-width: 44px;
}

.container .title h3 .action-space a {
  display: inline-block;
  background: #66e2d5;
  color: #0a0a0a;
  padding: 2px 12px 3px;
  border-radius: 3px;
  line-height: 1.1em;
  font-family: "HelveticaNeue-CondensedBold", "HelveticaNeueBoldCondensed", "HelveticaNeue-Bold-Condensed", "Helvetica Neue Bold Condensed", "HelveticaNeueBold", "HelveticaNeue-Bold", "Helvetica Neue Bold", "HelveticaNeue", "Helvetica Neue", "TeXGyreHerosCnBold", "Helvetica", "Tahoma", "Geneva", "Arial Narrow", "Arial", sans-serif;
  font-stretch: condensed;
  margin-right: 4px;
}

@media screen and (max-width: 376px) {
  .container .title h3 .action-space a {
    padding: 2px 6px 3px;
    margin-left: 3px;
    margin-left: 5px;
  }
  .container .title h3 .action-space a .post-word {
    display: none;
  }
}

.container .title .tags .tag {
  display: inline-block;
  border-radius: 3px;
  font-size: 13px;
  font-weight: bold;
  padding: 2px 5px 3px;
  border-radius: 2px;
  background: #d6d9e0;
  color: #606570;
}

.container .title .tags .tag:hover {
  opacity: 0.9;
}

.container .body {
  margin: auto;
  width: 82%;
  font-family: Palatino, 'Palatino Linotype', 'Palatino LT STD', 'Book Antiqua', Georgia, serif;
  font-size: 21px;
  line-height: 32px;
  background: var(--card-bg);
  position: relative;
  padding: 5px 0px;
  overflow-wrap: break-word;
}

.container .body a code {
  color: #557de8;
}

.container .body a.anchor {
  padding-top: 0;
  margin-top: 0;
  top: -50px;
  display: block;
  visibility: hidden;
  position: relative;
}

.container .body h1,
.container .body h2,
.container .body h3,
.container .body h4,
.container .body h5,
.container .body h6 {
  font-family: var(--ff-sans-serif);
  margin: 0.3em auto;
  padding-left: 4px;
  padding-right: 4px;
}

.container .body h1 {
  font-size: 1.85em;
  line-height: 1.14em;
  font-weight: 400;
}

.container .body h2 {
  font-size: 1.7em;
  font-weight: 400;
  line-height: 1.14em;
  padding-bottom: 0;
  margin-bottom: 0.5em;
}

.container .body h3 {
  font-size: 1.32em;
  font-weight: 400;
}

.container .body hr {
  width: calc(25% + 12px);
  opacity: 0.1;
  border-width: 1px;
  border-style: solid;
  border-color: var(--body-color);
  margin: 1.3em auto 1.5em;
}

.container .body p {
  margin: 0.95em 0 1.2em;
  padding: 0.2em;
}

.container .body ul,
.container .body ol {
  padding-left: 6px;
  margin: 0.8em 0.7em 0.8em 1.9em;
}

.container .body ol br {
  line-height: 0;
  margin: 0;
  padding: 0;
}

.container .body ul {
  list-style-type: square;
}

.container .body ul br {
  line-height: 0;
  margin: 0;
  padding: 0;
}

.container .body ul p {
  margin: 0;
  padding: 0;
}

.container .body ul ul {
  margin: 0 0.7em 0 1.9em;
  list-style-type: circle;
}

.container .body li {
  margin: 0.3em auto;
}

.container .body figure {
  margin: 0;
}

.container .body figcaption {
  font-style: italic;
  text-align: center;
  font-size: 0.8em;
  line-height: 1.4em;
  color: var(--body-color);
  display: block;
}

.container .body p + figcaption {
  margin-top: -0.8em;
}

@media screen and (max-width: 750px) {
  .container .body {
    width: 92%;
  }
}

@media screen and (max-width: 430px) {
  .container .body {
    font-size: 17.5px;
    line-height: 26px;
    width: 94%;
    margin-left: 3%;
  }
  .container .body ul,
  .container .body ol {
    margin: 0.8em 0.7em 0.8em 1.4em;
  }
  .container .body h1 {
    font-size: 1.6em;
  }
  .container .body h2 {
    font-size: 1.4em;
  }
  .container .body h3 {
    font-size: 1.16em;
  }
}

.container .body blockquote {
  border-left: calc(0.2vw + 2px) solid #333333;
  padding: 0.1% 6% 0.1% 4%;
  margin: 1.6em 1vw;
  font-size: 0.92em;
  line-height: 1.4em;
}

.container .body blockquote p {
  padding: 0;
  margin: 0.95em 0 0.95em;
}

.container .body blockquote.twitter-tweet {
  font-family: var(--ff-sans-serif);
  background: white;
  max-width: 456px;
  border: 1px solid #e9eef2;
  font-size: 0.75em;
  line-height: 1.35em;
  border-radius: 5px;
  margin: 1.6em auto;
  padding: 60px 10px 18px;
  color: white;
  min-height: 60px;
  padding: 33px 15px 8px;
}

.container .body blockquote.twitter-tweet a {
  color: white;
}

@media screen and (min-width: 360px) {
  .container .body blockquote.twitter-tweet {
    padding: 60px 22px 18px;
    min-height: 105px;
  }
}

.container .body code {
  margin: auto;
  background: rgba(0, 0, 0, 0.1);
  padding: 0.1em 0.3em 0;
  border-radius: 2px;
  font-size: 0.84em;
  vertical-align: 0;
  max-width: 100%;
  line-height: 1.6em;
}

.container .body kbd {
  display: inline-block;
  padding: 3px 5px;
  font-size: 11px;
  line-height: 10px;
  color: #444d56;
  vertical-align: middle;
  background-color: #fafbfc;
  border: solid 1px #c6cbd1;
  border-bottom-color: #959da5;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 -1px 0 #959da5;
          box-shadow: inset 0 -1px 0 #959da5;
}

.container .body pre {
  background: #29292e;
  border-radius: 2px;
  overflow-x: auto;
  color: #eff0f9;
  line-height: 1.42em;
  padding-left: 4%;
  padding-right: 7%;
  font-size: 0.7em;
  width: 97%;
  margin-left: -3%;
  padding-top: 6%;
  padding-bottom: 6%;
  border-radius: 0;
  overflow-wrap: normal;
}

@media screen and (min-width: 430px) {
  .container .body pre {
    width: 111%;
    margin-left: -11%;
    padding-left: 9%;
    padding-right: 2%;
  }
}

.container .body pre code {
  background: #29292e;
  color: #eff0f9;
  white-space: pre;
}

.container .body img {
  height: auto;
  position: relative;
  display: block;
  margin: auto;
  left: -4%;
  max-width: 108%;
  max-height: calc(50vh + 180px);
}

@media screen and (min-width: 430px) {
  .container .body img {
    left: -6px;
    max-width: calc(100% + 12px);
  }
}

.container .body a.article-body-image-wrapper {
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

.container .body iframe {
  width: 100%;
  border: 0;
  margin: 1.2em 0;
}

.container .body .fluidvids {
  margin: 1em 0;
}

.container .body .fluidvids iframe {
  margin: 0;
}

.container .body .table-wrapper-paragraph {
  width: 100%;
  margin-left: 0%;
  overflow-x: auto;
}

@media screen and (min-width: 430px) {
  .container .body .table-wrapper-paragraph {
    width: 108%;
    margin-left: -4%;
  }
}

@media screen and (min-width: 800px) {
  .container .body .table-wrapper-paragraph {
    width: 110%;
    margin-left: -5%;
  }
}

.container .body table {
  font-family: var(--ff-sans-serif);
  border-collapse: collapse;
  font-size: 0.78em;
  margin: 0.8em auto 1.2em;
  table-layout: fixed;
}

@media screen and (min-width: 500px) {
  .container .body table {
    font-size: 0.9em;
  }
}

.container .body table th {
  border: 1px solid #dbdbdb;
  padding: 5px 1vw;
  background: var(--body-bg);
  text-align: left;
}

.container .body table td {
  border: 1px solid #dbdbdb;
  padding: 5px 1vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container .body .twitter-tweet {
  margin: auto;
}

.container .html-variant-wrapper {
  width: 88%;
  margin: 0 auto 25px;
  display: none;
}

@media screen and (min-width: 500px) {
  .container .html-variant-wrapper {
    width: 82%;
  }
}
/*# sourceMappingURL=article-show.css.map */