/**
*
* Makes working with themeable CSS variables easier.
*
* $property: the CSS property to theme.
* $cssVariable: The CSS variable that will store the themed value.
* $fallback: The value to use as a fallback but as well for the CSS variable default value.
*/
/* Mixin for a load more wrapper, made by a container div and child button */
/**
*
* Generates the src property for @font-face. The mixin is required
* so that webpack for Storybook and the application can both
* generate the font URL correctly.
*
* $font: the font file name, e.g. 'OpenDyslexic-Regular.otf'
*/
.home {
  position: relative;
  margin: 0 auto;
  max-width: 1250px;
  text-align: left;
}

@media screen and (max-width: 949px) {
  .home .sidebar-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    overflow-y: auto;
    width: 200%;
    height: 100%;
    display: none;
    -webkit-overflow-scrolling: touch;
  }
  .home .sidebar-wrapper .sidebar-bg {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: scroll;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    -webkit-animation: fade-in 0.48s;
            animation: fade-in 0.48s;
  }
  .home .sidebar-wrapper.swiped-in {
    display: block;
    z-index: var(--z-drawer);
  }
  .home .sidebar-wrapper.swiped-in .side-bar {
    display: block;
    background: var(--card-bg);
    height: 100%;
    overflow-y: auto;
  }
  .home .sidebar-wrapper-left {
    -webkit-transform: translate(-280px, 0);
            transform: translate(-280px, 0);
  }
  .home .sidebar-wrapper-left.swiped-in {
    -webkit-transform: translate(0em, 0);
            transform: translate(0em, 0);
    -webkit-animation: swipe-in-from-left 0.18s;
            animation: swipe-in-from-left 0.18s;
  }
  .home .sidebar-wrapper-right {
    -webkit-transform: translate(calc(-100vw + 280px), 0);
            transform: translate(calc(-100vw + 280px), 0);
  }
  .home .sidebar-wrapper-right .side-bar {
    float: right;
  }
  .home .sidebar-wrapper-right.swiped-in {
    -webkit-transform: translate(-100vw, 0);
            transform: translate(-100vw, 0);
    -webkit-animation: swipe-in-from-right 0.18s;
            animation: swipe-in-from-right 0.18s;
  }
}

.home .side-bar {
  float: left;
  width: 280px;
  font-size: 0.85em;
  line-height: 1.35em;
  display: none;
  position: relative;
  padding: 16px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: var(--card-secondary-color);
}

.home .side-bar.sidebar-additional {
  display: none;
}

@media screen and (min-width: 1120px) {
  .home .side-bar.sidebar-additional.showing {
    display: block;
  }
}

@media screen and (min-width: 950px) {
  .home .side-bar {
    display: block;
  }
}

.home .side-bar .search-partner-mention {
  display: none;
  text-align: center;
  margin-top: 15px;
  width: 98%;
}

.home .side-bar .search-partner-mention img {
  margin-top: 12px;
  width: 180px;
}

.home .side-bar .search-partner-mention.showing {
  display: block;
}

.sidebar-tags-browser {
  max-height: 420px;
}

.sidebar-navigation-links .crayons-icon svg {
  height: 24px;
  weight: 24px;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes swipe-in-from-left {
  0% {
    -webkit-transform: translate(-280px, 0);
            transform: translate(-280px, 0);
  }
  100% {
    -webkit-transform: translate(0em, 0);
            transform: translate(0em, 0);
  }
}

@keyframes swipe-in-from-left {
  0% {
    -webkit-transform: translate(-280px, 0);
            transform: translate(-280px, 0);
  }
  100% {
    -webkit-transform: translate(0em, 0);
            transform: translate(0em, 0);
  }
}

@-webkit-keyframes swipe-in-from-right {
  0% {
    -webkit-transform: translate(calc(-100vw + 280px), 0);
            transform: translate(calc(-100vw + 280px), 0);
  }
  100% {
    -webkit-transform: translate(-100vw, 0);
            transform: translate(-100vw, 0);
  }
}

@keyframes swipe-in-from-right {
  0% {
    -webkit-transform: translate(calc(-100vw + 280px), 0);
            transform: translate(calc(-100vw + 280px), 0);
  }
  100% {
    -webkit-transform: translate(-100vw, 0);
            transform: translate(-100vw, 0);
  }
}

.on-page-nav-controls {
  height: 45px;
  position: relative;
  opacity: 0.85;
  text-align: center;
  margin-bottom: 8px;
}

@media screen and (min-width: 950px) {
  .on-page-nav-controls.user-nav-controls {
    display: none;
  }
}

.on-page-nav-controls .on-page-nav-butt {
  position: absolute;
  top: 14px;
  border: 0px;
  background: transparent;
  border-radius: 8px;
}

.on-page-nav-controls .on-page-nav-butt img {
  height: 24px;
}

.on-page-nav-controls .on-page-nav-butt.on-page-nav-butt-left {
  left: 3%;
}

.on-page-nav-controls .on-page-nav-butt.on-page-nav-butt-right {
  right: 3%;
}

@media screen and (min-width: 950px) {
  .on-page-nav-controls .on-page-nav-butt {
    display: none;
  }
}

.on-page-nav-controls .on-page-nav-label {
  position: absolute;
  right: 0;
  left: 0;
  font-family: "HelveticaNeue-CondensedBold", "HelveticaNeueBoldCondensed", "HelveticaNeue-Bold-Condensed", "Helvetica Neue Bold Condensed", "HelveticaNeueBold", "HelveticaNeue-Bold", "Helvetica Neue Bold", "HelveticaNeue", "Helvetica Neue", "TeXGyreHerosCnBold", "Helvetica", "Tahoma", "Geneva", "Arial Narrow", "Arial", sans-serif;
  font-stretch: condensed;
  top: 18px;
  font-weight: 600;
}

.on-page-nav-controls .on-page-nav-label.sub-home-nav {
  top: 12px;
}

.on-page-nav-controls .on-page-nav-label .wide-nav-links {
  display: none;
}

@media screen and (min-width: 650px) {
  .on-page-nav-controls .on-page-nav-label .narrow-nav-select {
    display: none;
  }
  .on-page-nav-controls .on-page-nav-label .wide-nav-links {
    display: block;
    cursor: default;
  }
}

@media screen and (min-width: 950px) {
  .on-page-nav-controls .on-page-nav-label {
    top: 9px;
  }
  .on-page-nav-controls .on-page-nav-label.sub-home-nav {
    top: 8px;
  }
}

.on-page-nav-controls .separator {
  border-left: 2px solid #dbdbdb;
  display: inline-block;
  margin: 0px 7px;
  height: 15px;
}

.on-page-nav-controls .nav-chronofiter-link {
  display: inline-block;
  padding: 2px 8px;
  font-size: 0.95em;
  border-radius: 2px;
  border: 1px solid transparent;
}

.on-page-nav-controls .nav-chronofiter-link.selected {
  background: #cfd7ff;
  color: #0a0a0a;
  border: 1px solid #4e57ef;
  -webkit-box-shadow: 3px 4px 0px #4e57ef;
          box-shadow: 3px 4px 0px #4e57ef;
}

.on-page-nav-controls .nav-chronofiter-link:hover {
  opacity: 1;
  background: #4e57ef;
  color: white;
  border: 1px solid #cfd7ff;
  -webkit-box-shadow: 3px 4px 0px #cfd7ff;
          box-shadow: 3px 4px 0px #cfd7ff;
}

.on-page-nav-controls .narrow-nav-select button {
  all: unset;
  background: transparent;
  border: 0;
  font-family: "HelveticaNeue-CondensedBold", "HelveticaNeueBoldCondensed", "HelveticaNeue-Bold-Condensed", "Helvetica Neue Bold Condensed", "HelveticaNeueBold", "HelveticaNeue-Bold", "Helvetica Neue Bold", "HelveticaNeue", "Helvetica Neue", "TeXGyreHerosCnBold", "Helvetica", "Tahoma", "Geneva", "Arial Narrow", "Arial", sans-serif;
  font-stretch: condensed;
  font-weight: 600;
  cursor: pointer;
}

.nav-icon {
  width: 24px;
  height: 24px;
}

.loading {
  padding: calc(3vw + 15px) 0px 60px;
  text-align: center;
  opacity: 0.7;
  display: none;
}

.loading-articles {
  padding: calc(3vw + 15px) 0px 60px;
  text-align: center;
  opacity: 0.7;
  display: none;
}

.articles-list:not(.crayons-layout__content) {
  margin: auto;
  max-width: 100%;
  position: relative;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (min-width: 950px) {
  .articles-list:not(.crayons-layout__content) {
    float: left;
    width: 100%;
    max-width: calc(100% - 280px);
    padding: 16px;
  }
}

@media screen and (min-width: 1120px) {
  .articles-list:not(.crayons-layout__content) {
    max-width: calc(100% - 560px);
  }
}

.articles-list:not(.crayons-layout__content) .pinned-articles {
  padding: 8px;
  margin: 0 auto;
  background: var(--card-bg);
  border: none;
  border: var(--theme-container-border, none);
  -webkit-box-shadow: 0px 1px 1px rgba(10, 10, 10, 0.1), 0px 1px 2px rgba(10, 10, 10, 0.1), 0px 0px 1px rgba(10, 10, 10, 0.8);
          box-shadow: 0px 1px 1px rgba(10, 10, 10, 0.1), 0px 1px 2px rgba(10, 10, 10, 0.1), 0px 0px 1px rgba(10, 10, 10, 0.8);
  -webkit-box-shadow: var(--theme-container-box-shadow, 0px 1px 1px rgba(10, 10, 10, 0.1), 0px 1px 2px rgba(10, 10, 10, 0.1), 0px 0px 1px rgba(10, 10, 10, 0.8));
          box-shadow: var(--theme-container-box-shadow, 0px 1px 1px rgba(10, 10, 10, 0.1), 0px 1px 2px rgba(10, 10, 10, 0.1), 0px 0px 1px rgba(10, 10, 10, 0.8));
}

@media screen and (min-width: 950px) {
  .articles-list:not(.crayons-layout__content) .pinned-articles {
    border-radius: var(--radius);
    margin-bottom: var(--su-2);
  }
}

.articles-list:not(.crayons-layout__content) .pinned-articles h5 {
  margin: 0 0 8px;
  padding: 8px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.articles-list:not(.crayons-layout__content) .placeholder-div {
  display: block;
  width: 100%;
}

.articles-list:not(.crayons-layout__content) .single-article {
  cursor: pointer;
  margin: 0 auto;
  position: relative;
  background: var(--card-bg);
  border: none;
  border: var(--theme-container-border, none);
  -webkit-box-shadow: 0px 1px 1px rgba(10, 10, 10, 0.1), 0px 1px 2px rgba(10, 10, 10, 0.1), 0px 0px 1px rgba(10, 10, 10, 0.8);
          box-shadow: 0px 1px 1px rgba(10, 10, 10, 0.1), 0px 1px 2px rgba(10, 10, 10, 0.1), 0px 0px 1px rgba(10, 10, 10, 0.8);
  -webkit-box-shadow: var(--theme-container-box-shadow, 0px 1px 1px rgba(10, 10, 10, 0.1), 0px 1px 2px rgba(10, 10, 10, 0.1), 0px 0px 1px rgba(10, 10, 10, 0.8));
          box-shadow: var(--theme-container-box-shadow, 0px 1px 1px rgba(10, 10, 10, 0.1), 0px 1px 2px rgba(10, 10, 10, 0.1), 0px 0px 1px rgba(10, 10, 10, 0.8));
}

@media screen and (min-width: 950px) {
  .articles-list:not(.crayons-layout__content) .single-article {
    border-radius: var(--radius);
    margin-bottom: var(--su-2);
  }
}

.articles-list:not(.crayons-layout__content) .single-article.active {
  opacity: 0.66;
}

.articles-list:not(.crayons-layout__content) .single-article.single-article-small-pic {
  vertical-align: top;
  overflow: hidden;
}

.articles-list:not(.crayons-layout__content) .single-article.single-article-single-podcast h4 {
  bottom: 10px;
}

.articles-list:not(.crayons-layout__content) .single-article.single-article-single-podcast .content {
  padding-bottom: 40px;
}

.articles-list:not(.crayons-layout__content) .single-article.single-article-podcast-div {
  background: var(--card-bg);
  border: none;
  border: var(--theme-container-border, none);
  -webkit-box-shadow: 0px 1px 1px rgba(10, 10, 10, 0.1), 0px 1px 2px rgba(10, 10, 10, 0.1), 0px 0px 1px rgba(10, 10, 10, 0.8);
          box-shadow: 0px 1px 1px rgba(10, 10, 10, 0.1), 0px 1px 2px rgba(10, 10, 10, 0.1), 0px 0px 1px rgba(10, 10, 10, 0.8);
  -webkit-box-shadow: var(--theme-container-box-shadow, 0px 1px 1px rgba(10, 10, 10, 0.1), 0px 1px 2px rgba(10, 10, 10, 0.1), 0px 0px 1px rgba(10, 10, 10, 0.8));
          box-shadow: var(--theme-container-box-shadow, 0px 1px 1px rgba(10, 10, 10, 0.1), 0px 1px 2px rgba(10, 10, 10, 0.1), 0px 0px 1px rgba(10, 10, 10, 0.8));
  padding-bottom: 8px;
}

@media screen and (min-width: 950px) {
  .articles-list:not(.crayons-layout__content) .single-article.single-article-podcast-div {
    border-radius: var(--radius);
    margin-bottom: var(--su-2);
  }
}

.articles-list:not(.crayons-layout__content) .single-article.single-article-podcast-div h3 {
  margin: 0;
  padding: 16px;
}

.articles-list:not(.crayons-layout__content) .single-article.single-article-podcast-div p {
  margin-left: 14px;
}

.articles-list:not(.crayons-layout__content) .single-article h4 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.articles-list:not(.crayons-layout__content) .single-article .org-headline-filler {
  background: #e4e7e9;
  background: var(--theme-container-accent-background, #e4e7e9);
  color: var(--card-color);
  padding: 8px;
  border-radius: 3px 0 3px 0;
  font-weight: 600;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.9em;
  line-height: 1;
}

.articles-list:not(.crayons-layout__content) .single-article .org-headline-filler img {
  width: 24px;
  height: 24px;
  margin-right: 4px;
  border-radius: 50%;
  vertical-align: middle;
}

.articles-list:not(.crayons-layout__content) .single-article .small-pic {
  float: left;
  height: 40px;
  width: 40px;
  margin: 16px 0 0 16px;
  overflow: hidden;
  font-size: 11px;
  border-radius: 50%;
}

.articles-list:not(.crayons-layout__content) .single-article .small-pic img,
.articles-list:not(.crayons-layout__content) .single-article .small-pic .color {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.articles-list:not(.crayons-layout__content) .single-article .tiny-pic {
  display: inline-block;
  height: 30px;
  width: 30px;
}

.articles-list:not(.crayons-layout__content) .single-article .tiny-pic img {
  height: 100%;
  width: 100%;
}

.articles-list:not(.crayons-layout__content) .single-article .tiny-pic img.round {
  border-radius: 50%;
}

.articles-list:not(.crayons-layout__content) .single-article .content {
  float: left;
  width: calc(100% - 72px);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 16px 16px 100px 16px;
}

.articles-list:not(.crayons-layout__content) .single-article .content h3 {
  margin: 0px;
  font-size: var(--fs-xl);
  font-weight: 700;
  line-height: 28px;
  padding: 0px;
  word-break: break-word;
  color: var(--card-color);
}

.articles-list:not(.crayons-layout__content) .single-article .content h3 .tag-identifier {
  font-size: 14px;
  background: #1395b8;
  color: white;
  padding: 2px 4px 3px;
  margin-right: 5px;
  border-radius: 4px;
  vertical-align: 3px;
}

.articles-list:not(.crayons-layout__content) .single-article .content h3 .tag-identifier.red-identifier {
  background: #ff0000;
}

.articles-list:not(.crayons-layout__content) .single-article .content h3 .tag-identifier.black-identifier {
  background: #0a0a0a;
}

.articles-list:not(.crayons-layout__content) .single-article .content h3 a {
  color: inherit;
}

.articles-list:not(.crayons-layout__content) .single-article .content h3 a:hover {
  color: var(--link-color-hover);
}

@media (min-width: 640px) {
  .articles-list:not(.crayons-layout__content) .single-article .content h3 {
    line-height: 32px;
    font-size: var(--fs-2xl);
  }
  .articles-list:not(.crayons-layout__content) .single-article .content h3 .tag-identifier {
    font-size: 15px;
    padding: 2px 6px 3px;
    vertical-align: 4px;
  }
  .articles-list:not(.crayons-layout__content) .single-article .content h4 {
    font-size: 15px;
  }
}

.articles-list:not(.crayons-layout__content) .single-article .time-ago-indicator {
  color: var(--card-color-tertiary);
  display: inline-block;
  margin-left: 4px;
  font-weight: 400;
  font-size: 0.8em;
  vertical-align: 0.07em;
}

.articles-list:not(.crayons-layout__content) .single-article .emoji {
  display: inline-block;
  margin-right: 4px;
}

.articles-list:not(.crayons-layout__content) .single-article h4 {
  padding: 0px;
  margin: 0;
  font-weight: 500;
  position: absolute;
  bottom: 50px;
  left: 72px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.8em;
}

.articles-list:not(.crayons-layout__content) .single-article h4 a {
  color: var(--card-color-tertiary);
}

.articles-list:not(.crayons-layout__content) .single-article h4:hover {
  opacity: 0.9;
  text-decoration: underline;
}

.articles-list:not(.crayons-layout__content) .single-article .tags {
  margin-top: 0px;
  font-size: 0.8em;
  position: absolute;
  display: inline-block;
  z-index: 5;
  left: 72px;
  bottom: 75px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #0a0a0a;
  width: calc( 100% - 72px);
}

.articles-list:not(.crayons-layout__content) .single-article .tags a {
  display: inline-block;
}

.articles-list:not(.crayons-layout__content) .single-article .tags .tag {
  margin-right: 8px;
}

.articles-list:not(.crayons-layout__content) .single-article .tags .tag:hover {
  text-decoration: underline;
}

.articles-list:not(.crayons-layout__content) .single-article p {
  margin: 6px auto;
  line-height: 20px;
  font-size: 16px;
  color: #a3bcc9;
  padding-bottom: 16px;
}

.articles-list:not(.crayons-layout__content) .article-engagement-count {
  font-size: 13px;
  font-weight: bold;
  position: absolute;
  bottom: 12px;
  font-weight: 400;
  padding: 3px 6px;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  font-family: "HelveticaNeue-CondensedBold", "HelveticaNeueBoldCondensed", "HelveticaNeue-Bold-Condensed", "Helvetica Neue Bold Condensed", "HelveticaNeueBold", "HelveticaNeue-Bold", "Helvetica Neue Bold", "HelveticaNeue", "Helvetica Neue", "TeXGyreHerosCnBold", "Helvetica", "Tahoma", "Geneva", "Arial Narrow", "Arial", sans-serif;
  color: var(--card-color-tertiary);
}

.articles-list:not(.crayons-layout__content) .article-engagement-count a {
  color: var(--card-color-tertiary);
}

.articles-list:not(.crayons-layout__content) .article-engagement-count a:hover {
  opacity: 1;
}

.articles-list:not(.crayons-layout__content) .article-engagement-count img {
  height: 18px;
  border: 0px;
  vertical-align: -4px;
  margin-right: 7px;
}

.articles-list:not(.crayons-layout__content) .article-engagement-count.comments-count {
  left: 85px;
}

.articles-list:not(.crayons-layout__content) .article-engagement-count.comments-count img {
  width: 28px;
}

.articles-list:not(.crayons-layout__content) .article-engagement-count.reactions-count {
  left: 16px;
}

.articles-list:not(.crayons-layout__content) .article-engagement-count.engage-button {
  right: 12px;
  border: 2px solid transparent;
  border-radius: 3px;
  text-align: center;
  bottom: 12px;
  background: #0d36ff;
  color: white;
  letter-spacing: 1px;
}

.articles-list:not(.crayons-layout__content) .article-engagement-count.engage-button:hover, .articles-list:not(.crayons-layout__content) .article-engagement-count.engage-button:focus {
  background: #0023cf;
}

.articles-list:not(.crayons-layout__content) .article-engagement-count.engage-button .bm-success {
  display: none;
  position: relative;
  top: 1px;
}

.articles-list:not(.crayons-layout__content) .article-engagement-count.engage-button.selected {
  color: #274bff;
  background: transparent;
  padding-right: 0px;
}

.articles-list:not(.crayons-layout__content) .article-engagement-count.engage-button.selected .bm-initial {
  display: none;
}

.articles-list:not(.crayons-layout__content) .article-engagement-count.engage-button.selected .bm-success {
  display: inline-block;
}

.articles-list:not(.crayons-layout__content) .article-engagement-count.engage-button.following-butt {
  background: transparent;
  color: #274bff;
}

.articles-list:not(.crayons-layout__content) .article-engagement-count.featured-engagement-count {
  margin-top: -38px;
  bottom: auto;
  z-index: 10;
}

.articles-list:not(.crayons-layout__content) .article-engagement-count.featured-engagement-count.engage-button {
  margin-top: -39px;
}

.articles-list:not(.crayons-layout__content) .article-engagement-count .engagement-count-number {
  min-width: 28px;
  text-align: left;
  display: inline-block;
}

.individual-podcast-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8px 16px;
  font-size: 0.8em;
  color: var(--card-color-tertiary);
}

.individual-podcast-link img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  vertical-align: top;
}

.individual-podcast-link .individual-podcast-link-details {
  padding-left: 16px;
  -webkit-box-flex: 1;
      -ms-flex: 1 auto;
          flex: 1 auto;
}

.individual-podcast-link strong {
  display: block;
  margin-bottom: 4px;
  padding-top: 0.2em;
  font-weight: 500;
  color: var(--card-color);
}

@media screen and (min-width: 500px) {
  .individual-podcast-link strong {
    font-size: 1.2em;
  }
}

.individual-podcast-link:hover {
  background: #f5f6f7;
  background: var(--theme-container-background-hover, #f5f6f7);
}
/*# sourceMappingURL=articles.css.map */