/**
*
* Makes working with themeable CSS variables easier.
*
* $property: the CSS property to theme.
* $cssVariable: The CSS variable that will store the themed value.
* $fallback: The value to use as a fallback but as well for the CSS variable default value.
*/
/* Mixin for a load more wrapper, made by a container div and child button */
/**
*
* Generates the src property for @font-face. The mixin is required
* so that webpack for Storybook and the application can both
* generate the font URL correctly.
*
* $font: the font file name, e.g. 'OpenDyslexic-Regular.otf'
*/
/**
*
* Generates an image path. The mixin is required
* so that webpack for Storybook and the application can both
* generate the image path correctly.
*
* $image: the image file name, e.g. 'loading-ellipsis.svg'
*/
.comments .article-header .body kbd, .single-comment-node .body kbd {
  display: inline-block;
  padding: 3px 5px;
  font-size: 11px;
  line-height: 10px;
  color: #444d56;
  vertical-align: middle;
  background-color: #fafbfc;
  border: solid 1px #c6cbd1;
  border-bottom-color: #959da5;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 -1px 0 #959da5;
          box-shadow: inset 0 -1px 0 #959da5;
}

@-webkit-keyframes fade-out {
  0% {
    background-color: #d0ffeb;
  }
  100% {
    background-color: white;
  }
}

@keyframes fade-out {
  0% {
    background-color: #d0ffeb;
  }
  100% {
    background-color: white;
  }
}

a.header-link {
  color: var(--body-color);
  display: block;
}

a.header-link:hover {
  color: var(--body-color);
}

.comments .picture {
  height: 180px;
  max-width: 900px;
  margin: auto;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background-color: #ecf0f2;
  background: #ecf0f2 no-repeat top center;
  background-size: cover;
  position: relative;
  z-index: 1;
}

@media screen and (min-width: 390px) {
  .comments .picture {
    height: 240px;
  }
}

@media screen and (min-width: 820px) {
  .comments .picture {
    height: 280px;
  }
}

.comments .blank-comment-space {
  height: 3px;
}

@media screen and (min-width: 820px) {
  .comments .blank-comment-space {
    height: 0px;
  }
}

.comments .article-header {
  width: 820px;
  max-width: 100%;
  margin: 50px auto 10px;
  padding: 0px 0px 90px;
  background: var(--card-bg);
  z-index: 3;
  position: relative;
}

@media screen and (min-width: 820px) {
  .comments .article-header {
    margin: 72px auto 10px;
    border-radius: 5px;
    border: 1px solid #eef1f1;
    border: var(--theme-container-border, 1px solid #eef1f1);
  }
}

.comments .article-header h3 {
  width: 94%;
  margin: 12px 0 5px;
  margin-left: 1.8%;
  font-weight: 500;
  font-size: calc(1.5vw + 22px);
}

.comments .article-header h4 {
  margin: 0;
  font-weight: 300;
  color: #c3c3c3;
  font-size: 17px;
  width: 96%;
  margin: auto;
  margin-bottom: -40px;
}

.comments .article-header h4 a {
  color: #696767;
}

.comments .article-header .body {
  padding: 60px 0px 0px;
  width: 96%;
  margin: auto;
  margin-bottom: -35px;
}

.comments .article-header .body .read-more {
  color: var(--link-brand-color);
  display: inline-block;
}

.comments .article-header .body .read-more:hover {
  opacity: 0.96;
}

.comments .article-header .body img {
  max-width: 100%;
  max-height: 350px;
}

.comments .single-comment-header {
  height: 10px;
}

.comments-container {
  padding-top: 10px;
  margin: auto;
  margin-bottom: var(--su-4);
  text-align: left;
  overflow-wrap: break-word;
}

.comments-container.comments-dedicated-page-container {
  width: 800px;
  max-width: 96%;
  min-height: calc(97vh - 200px);
}

.comments-container img.icon-image {
  height: 21px;
  opacity: 0.7;
}

.comments-container img.icon-image:hover {
  opacity: 1;
}

.comments-container .top-level-actions {
  margin: 0px 0px 85px;
  padding: 3px 0px;
  z-index: 4;
  position: relative;
  border-radius: 3px;
  font-size: calc(0.35vw + 16px);
}

.comments-container .top-level-actions h3 {
  margin: 5px 0px;
}

.comments-container .top-level-actions h3 a {
  font-size: 0.62em;
  background: #0a0a0a;
  color: white;
  margin: 2px 0px 2px;
  margin-right: 5px;
  vertical-align: 2px;
}

.comments-container .top-level-actions .comment-action-buttons,
.comments-container .top-level-actions .comment-action-text {
  display: inline-block;
  color: #666666;
  font-weight: 300;
}

.comments-container .top-level-actions a {
  display: inline-block;
  background: #cfd7ff;
  border-radius: 3px;
  color: #0a0a0a;
  font-family: "HelveticaNeue-CondensedBold", "HelveticaNeueBoldCondensed", "HelveticaNeue-Bold-Condensed", "Helvetica Neue Bold Condensed", "HelveticaNeueBold", "HelveticaNeue-Bold", "Helvetica Neue Bold", "HelveticaNeue", "Helvetica Neue", "TeXGyreHerosCnBold", "Helvetica", "Tahoma", "Geneva", "Arial Narrow", "Arial", sans-serif;
  font-stretch: condensed;
  padding: 4px 8px;
  font-size: 0.77em;
  vertical-align: 1px;
  margin: 8px 0px 2px;
}

.comments-container .top-level-actions .commentable-title {
  font-size: calc(0.3vw + 16px);
  color: #666666;
}

.comments-container details details .comment-deep-1,
.comments-container details details .comment-deep-2 {
  margin-top: -123px;
}

.comments-container details details _:-ms-lang(x),
.comments-container details details .comment-deep-1,
.comments-container details details .comment-deep-2 {
  margin-top: 0px;
}

.comments-container details details summary {
  position: relative;
}

.comments-container details details[open] > summary {
  width: calc(1.1vw + 12px);
  padding-bottom: 100px;
}

.comments-container details summary {
  cursor: pointer;
  color: #7a7a7a;
  font-size: 14.5px;
  font-style: oblique;
  padding: 4px 0px;
  padding-left: 4px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.comments-container details summary:active {
  outline: 0;
  -webkit-box-shadow: 0px 0px 0px #dbdbdb !important;
          box-shadow: 0px 0px 0px #dbdbdb !important;
}

.comments-container details summary:focus-visible {
  outline: 0;
}

.comments-container details summary:focus-visible:not(:active) {
  -webkit-box-shadow: 0px 0px 6px #dbdbdb !important;
          box-shadow: 0px 0px 6px #dbdbdb !important;
}

.comments-container details summary span {
  display: inline-block;
  width: calc(100% - 50px);
  line-height: 20px;
}

.comments-container .comment-trees .comment-hash-marker {
  margin-top: -45px;
  margin-bottom: 45px;
  border: 1px solid transparent;
  z-index: var(--z-negative);
  position: relative;
}

.comments-container .comment-trees .comment-hash-marker:target + .single-comment-node {
  -webkit-animation-name: fade-out;
          animation-name: fade-out;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}

.comments-container .comment-trees .root-comment {
  margin-top: -80px;
}

.comments-container .comment-trees .root-comment .comment-parent-link {
  background: var(--card-bg);
  border: 1px solid #666666;
  border: var(--theme-container-border, 1px solid #666666);
  display: block;
  padding: 9px 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.8em;
  background: #fcfcfc;
  background: var(--theme-container-accent-background, #fcfcfc);
}

.comments-container .comment-view-parent {
  margin-bottom: 7px;
  text-align: left;
  font-family: "HelveticaNeue-CondensedBold", "HelveticaNeueBoldCondensed", "HelveticaNeue-Bold-Condensed", "Helvetica Neue Bold Condensed", "HelveticaNeueBold", "HelveticaNeue-Bold", "Helvetica Neue Bold", "HelveticaNeue", "Helvetica Neue", "TeXGyreHerosCnBold", "Helvetica", "Tahoma", "Geneva", "Arial Narrow", "Arial", sans-serif;
  font-size: 0.8em;
  background: #cfd7ff;
  display: inline-block;
  padding: 2px 4px;
  border-radius: 3px;
  margin-right: 5px;
  vertical-align: top;
}

.comments-container .comment-view-parent.comment-view-commentable {
  background: transparent;
  max-width: calc(100% - 100px);
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.comments-container .alert-error {
  background: #ff0000;
  max-width: 730px;
  font-family: var(--ff-sans-serif);
  color: white;
  border-radius: 5px;
  margin: 20px auto;
  padding: 20px;
}

.single-comment-node {
  padding: 2px 0px 0px calc(1.1vw + 13px);
  text-align: left;
  margin-top: 15px;
  font-size: 17px;
  position: relative;
}

.single-comment-node.root {
  padding: 0px 0px 2px 0;
}

@media screen and (min-width: 390px) {
  .single-comment-node {
    font-size: 20px;
  }
}

.single-comment-node.flat-node {
  padding: 0px;
  margin-top: -3px;
  margin-bottom: -3px;
}

.single-comment-node.flat-node.root {
  padding: 2px 0px;
  margin-top: 0px;
}

.single-comment-node.flat-node .inner-comment {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.single-comment-node.flat-node button {
  margin-bottom: 3px;
  z-index: 7;
  position: relative;
}

.single-comment-node .comment-deep-3 {
  margin-top: -5px;
  padding: 2px 0px 2px calc(0.9vw + 7px);
}

.single-comment-node .comment-deep-3 button {
  margin-bottom: 3px;
  z-index: 8;
  position: relative;
}

.single-comment-node .permalink {
  width: 40px;
  position: absolute;
  right: 2px;
  margin-top: calc(0.4vw + 12px);
  text-align: center;
  opacity: 0.9;
}

.single-comment-node .permalink img {
  width: 14px;
}

.single-comment-node .permalink:hover {
  opacity: 1;
}

.single-comment-node .low-quality-comment-marker {
  font-size: 0.66em;
  padding: 6px 13px;
  background: #f5f6f7;
  background: var(--theme-container-accent-background, #f5f6f7);
  font-weight: bold;
  border-bottom: 1px solid #dbdbdb;
}

.single-comment-node .low-quality-comment-marker a {
  background: #a2ede5;
  color: #0a0a0a;
  padding: 1px 5px 3px;
  border-radius: 3px;
  vertical-align: -1px;
  margin-left: 3px;
}

.single-comment-node .low-quality-comment-marker img {
  height: 22px;
  width: 22px;
  border-radius: 100px;
  border: 2px solid #666666;
  vertical-align: -0.6em;
  margin-right: 2px;
}

.single-comment-node .low-quality-comment > *:not(.dropdown) {
  opacity: 0.5;
}

.single-comment-node .body {
  padding: 1px;
  padding-left: 1.5%;
  padding-right: 1.5%;
  padding-bottom: 5px;
  margin: 0;
  width: 96%;
  font-size: 0.95em;
  line-height: 1.35em;
  overflow: hidden;
  margin-bottom: -28px;
  word-wrap: break-word;
  font-family: var(--ff-sans-serif);
  position: relative;
  margin-left: 1px;
}

.single-comment-node .body h1,
.single-comment-node .body h2,
.single-comment-node .body h3,
.single-comment-node .body h4,
.single-comment-node .body h5,
.single-comment-node .body h6 {
  padding: 0px;
  margin: 4px 0px calc(1.1vw + 10px);
  font-size: 1em;
  font-weight: 600;
}

.single-comment-node .body h1 {
  font-size: 1.3em;
}

.single-comment-node .body p {
  padding: 0px;
  margin: 4px 0px calc(1.1vw + 10px);
}

.single-comment-node .body ul,
.single-comment-node .body ol {
  padding-left: 6px;
  margin: 0.8em 0.7em 0.8em 1em;
}

.single-comment-node .body ul {
  list-style-type: square;
}

.single-comment-node .body li {
  margin: 3px 0px calc(0.5vw + 5px);
}

.single-comment-node .body blockquote {
  border-left: calc(0.2vw + 2px) solid #333333;
  padding: 0.1% 3% 0.1% 2%;
  margin: 1.6em 1vw;
  font-size: 0.92em;
  line-height: 1.4em;
}

.single-comment-node .body blockquote p {
  padding: 0;
  margin: 0.95em 0 0.95em;
}

.single-comment-node .body blockquote.twitter-tweet {
  background: white;
  max-width: 480px;
  min-height: 135px;
  border: 1px solid #e9eef2;
  font-size: 17px;
  line-height: 20px;
  border-radius: 5px;
  margin-top: 10px;
  padding: 10px;
}

.single-comment-node .body .edited-notification {
  color: #999999;
  font-size: 0.7em;
  padding: 3px 0px 0px;
  position: relative;
  z-index: 1;
}

.single-comment-node .body img {
  max-width: 100%;
  max-height: calc(50vh + 100px);
}

.single-comment-node .body .table-wrapper-paragraph {
  width: 100%;
  margin-left: 0%;
  overflow-x: auto;
}

.single-comment-node .body a.anchor {
  padding-top: 50px;
  margin-top: -50px;
  background-clip: content-box;
}

.single-comment-node .body .liquid-comment .details .comment-date {
  top: calc(14px - 0.25vw);
}

.single-comment-node .body.hidden-comment {
  padding: 5px 0;
  margin-bottom: 0;
}

.single-comment-node .icon-img {
  height: 16px;
  width: 16px;
  margin-right: 0px;
  opacity: 0.7;
}

.single-comment-node .details {
  padding: 0px;
  border-top-left-radius: 3px;
  color: var(--link-brand-color);
  position: relative;
}

.single-comment-node .details .comment-date {
  border: none;
  position: absolute;
  top: calc(14px - 0.25vw);
  right: calc(35px + 0.2vw);
  font-size: 12px;
  text-align: right;
}

.single-comment-node .details .comment-date a {
  color: var(--card-color-tertiary);
}

.single-comment-node .details .dropbtn {
  border: none;
  cursor: pointer;
  position: absolute;
  top: calc(0.3vw + 13px);
  right: 10px;
}

.single-comment-node .details .dropbtn.commentable-hidden {
  top: calc(0.3vw + 8px);
}

.single-comment-node .details .dropbtn svg {
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
  fill: var(--card-color-tertiary);
}

.single-comment-node .details .dropdown {
  position: absolute;
  top: 40px;
  right: 200px;
  display: inline-block;
}

@media screen and (min-width: 580px) {
  .single-comment-node .details .dropdown {
    right: 10px;
  }
}

.single-comment-node .details .dropdown .dropdown-icon {
  position: absolute;
  left: 10px;
  top: 7px;
  padding: 4px;
  max-width: 15px;
  max-height: 15px;
}

.single-comment-node .details.hidden-comment .dropbtn {
  top: calc(0.3vw + 8px);
}

.single-comment-node .details img.profile-pic {
  height: 33px;
  width: 33px;
  border-radius: 50px;
  margin: 1.5% 0.2% 1.5% 1.5%;
}

.single-comment-node .details .comment-username {
  vertical-align: calc(0.62vw + 13px);
}

.single-comment-node .details .comment-username-inner {
  vertical-align: middle;
  display: inline-block;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  max-width: calc(60% - 20px);
}

.single-comment-node .details .icon-img {
  vertical-align: calc(0.7vw + 9px);
  margin-left: 2px;
}

.single-comment-node .details .op-marker {
  display: none;
}

@media screen and (min-width: 580px) {
  .single-comment-node .details .op-marker {
    display: inline-block;
    vertical-align: calc(0.7vw + 12px);
    background: #cfd7ff;
    color: #0a0a0a;
    padding: 2px 6px 2px;
    margin-left: 0.3vw;
    font-family: "HelveticaNeue-CondensedBold", "HelveticaNeueBoldCondensed", "HelveticaNeue-Bold-Condensed", "Helvetica Neue Bold Condensed", "HelveticaNeueBold", "HelveticaNeue-Bold", "Helvetica Neue Bold", "HelveticaNeue", "Helvetica Neue", "TeXGyreHerosCnBold", "Helvetica", "Tahoma", "Geneva", "Arial Narrow", "Arial", sans-serif;
    font-stretch: condensed;
    font-size: 0.78em;
    border-radius: 3px;
  }
}

.single-comment-node .details a {
  color: #3b3b3b;
  color: var(--theme-secondary-color, #3b3b3b);
}

.single-comment-node .reaction-button,
.single-comment-node .dropbtn {
  border: 0px;
  background: transparent;
  cursor: pointer;
  border-radius: 3px;
  height: 32px;
  display: block;
  padding: 0px;
  margin-left: 2px;
  position: relative;
  margin-top: calc(-0.6vw - 4px);
  z-index: 8;
  position: relative;
}

.single-comment-node .reaction-button.reaction-button,
.single-comment-node .dropbtn.reaction-button {
  padding-right: 25px;
  padding-top: 4px;
  margin-top: 0px;
  height: 25px;
}

.single-comment-node .reaction-button .reactions-count,
.single-comment-node .dropbtn .reactions-count {
  font-size: 0.7em;
  background: #f5f6f7;
  padding: 1px 5px;
  border-radius: 3px;
  border: 1px solid #d9dde0;
  margin-left: 1px;
  position: absolute;
  top: 4px;
  left: 24px;
}

.single-comment-node .reaction-button img,
.single-comment-node .dropbtn img {
  height: 21px;
  width: 21px;
  opacity: 0.62;
  left: 0px;
}

.single-comment-node .reaction-button img.dropdown-icon,
.single-comment-node .dropbtn img.dropdown-icon {
  height: 18px;
  width: 18px;
}

.single-comment-node .reaction-button:hover img,
.single-comment-node .dropbtn:hover img {
  opacity: 1;
}

.single-comment-node .reaction-button .voted-heart,
.single-comment-node .dropbtn .voted-heart {
  display: none;
  vertical-align: 0px;
  margin-left: 0px;
  height: 22px;
  width: 22px;
  opacity: 0.9;
}

.single-comment-node .reaction-button .voted-heart:hover,
.single-comment-node .dropbtn .voted-heart:hover {
  opacity: 1;
}

@media screen and (min-width: 390px) {
  .single-comment-node .reaction-button,
  .single-comment-node .dropbtn {
    vertical-align: -7px;
  }
}

.single-comment-node .reaction-button.reacted,
.single-comment-node .dropbtn.reacted {
  color: #66e2d5;
}

.single-comment-node .reaction-button.reacted img,
.single-comment-node .dropbtn.reacted img {
  display: none;
}

.single-comment-node .reaction-button.reacted .voted-heart,
.single-comment-node .dropbtn.reacted .voted-heart {
  display: inline-block;
}

.single-comment-node .reaction-button.reacted .reactions-count,
.single-comment-node .dropbtn.reacted .reactions-count {
  color: #0a0a0a;
  font-weight: 500;
}

.single-comment-node img.icon-image {
  height: 20px;
}

.single-comment-node .actions {
  font-size: 0.8em;
  padding: 0.3em 0.6em 0.3em 0.4em;
  text-align: right;
  position: relative;
  min-height: 1.2em;
  z-index: 5;
  text-transform: capitalize;
  margin-left: 58px;
}

.single-comment-node .actions a.thread-indication {
  color: #9e9e9e;
  font-size: 0.8em;
  cursor: default;
}

.single-comment-node .actions a.thread-indication:hover {
  opacity: 1;
}

.single-comment-node .actions a.register-now-cta {
  font-size: 1.4em;
  background: #fffdc4;
  border: 1px solid #fdf73b;
  -webkit-box-shadow: 5px 6px 0px #fdf73b;
          box-shadow: 5px 6px 0px #fdf73b;
  color: #0a0a0a;
  padding: 5px 10px;
  margin-right: 8px;
  vertical-align: 20px;
  line-height: 1.8em;
}

.single-comment-node .actions .current-user-actions .hidden {
  display: none;
}

.single-comment-node .actions .current-user-actions a {
  margin-right: 10px;
  display: inline-block;
  color: #666666;
}

.single-comment-node .inner-comment {
  padding: 0px;
  border: 1px solid #dbdbdb;
  background: var(--card-bg);
}

.single-comment-node .inner-comment.comment-created-via-fetch {
  -webkit-animation: comment-create 1.2s;
          animation: comment-create 1.2s;
}

.single-comment-node .inner-comment.comment-created-via-fetch .body {
  background-color: transparent;
}

.single-comment-node .comment-read-more {
  background: #66e2d5 !important;
  padding: 3px 6px;
  display: block;
  width: 250px;
  text-align: center;
  margin: auto;
  border-radius: 3px;
  margin-bottom: 20px;
  font-weight: bold;
}

.single-comment-node .comment-read-more:hover {
  opacity: 1;
  background: #7be6db !important;
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0.5;
    height: 21px;
    width: 18px;
  }
  100% {
    opacity: 1;
    height: 25px;
    width: 22px;
  }
}

@keyframes fadein {
  0% {
    opacity: 0.5;
    height: 21px;
    width: 18px;
  }
  100% {
    opacity: 1;
    height: 25px;
    width: 22px;
  }
}

@-webkit-keyframes comment-create {
  from {
    background-color: #e7faf8;
  }
  to {
    background-color: #fff;
    background-color: var(--theme-container-background, #fff);
  }
}

@keyframes comment-create {
  from {
    background-color: #e7faf8;
  }
  to {
    background-color: #fff;
    background-color: var(--theme-container-background, #fff);
  }
}

#response-templates-data {
  display: none;
}

.comments-settings__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  grid-gap: var(--su-2);
}

.comments-settings__row--subtitle {
  color: var(--base-60);
}
/*# sourceMappingURL=comments.css.map */