/**
*
* Makes working with themeable CSS variables easier.
*
* $property: the CSS property to theme.
* $cssVariable: The CSS variable that will store the themed value.
* $fallback: The value to use as a fallback but as well for the CSS variable default value.
*/
/* Mixin for a load more wrapper, made by a container div and child button */
/**
*
* Generates the src property for @font-face. The mixin is required
* so that webpack for Storybook and the application can both
* generate the font URL correctly.
*
* $font: the font file name, e.g. 'OpenDyslexic-Regular.otf'
*/
.dashboard-container .manage-header {
  background: #0045ff;
}

.dashboard-container .single-article {
  padding: 5px 15px;
  background: var(--card-bg);
  border: none;
  border: var(--theme-container-border, none);
  -webkit-box-shadow: 0px 1px 1px rgba(10, 10, 10, 0.1), 0px 1px 2px rgba(10, 10, 10, 0.1), 0px 0px 1px rgba(10, 10, 10, 0.8);
          box-shadow: 0px 1px 1px rgba(10, 10, 10, 0.1), 0px 1px 2px rgba(10, 10, 10, 0.1), 0px 0px 1px rgba(10, 10, 10, 0.8);
  -webkit-box-shadow: var(--theme-container-box-shadow, 0px 1px 1px rgba(10, 10, 10, 0.1), 0px 1px 2px rgba(10, 10, 10, 0.1), 0px 0px 1px rgba(10, 10, 10, 0.8));
          box-shadow: var(--theme-container-box-shadow, 0px 1px 1px rgba(10, 10, 10, 0.1), 0px 1px 2px rgba(10, 10, 10, 0.1), 0px 0px 1px rgba(10, 10, 10, 0.8));
  position: relative;
  overflow: auto;
}

@media screen and (min-width: 950px) {
  .dashboard-container .single-article {
    border-radius: var(--radius);
    margin-bottom: var(--su-2);
  }
}

.dashboard-container .single-article.thanks-for-suggesting-a-tweet {
  background: #bcf2ed;
  padding: 30px 0px;
  text-align: center;
  font-size: 1.4em;
  font-weight: bold;
}

.dashboard-container .single-article.single-article-manage-form-wrapper form {
  text-align: center;
  width: 490px;
  max-width: 90%;
  margin: 10px auto;
}

.dashboard-container .single-article.single-article-manage-form-wrapper form textarea {
  width: 100%;
  border: 1px solid #dbdbdb;
  height: 100px;
  border-radius: 3px;
}

.dashboard-container .single-article.single-article-manage-form-wrapper form input[type='submit'] {
  background: #1da1f2;
  color: white;
  font-size: 19px;
  padding: 8px 35px;
  border-radius: 100px;
  font-family: "HelveticaNeue-CondensedBold", "HelveticaNeueBoldCondensed", "HelveticaNeue-Bold-Condensed", "Helvetica Neue Bold Condensed", "HelveticaNeueBold", "HelveticaNeue-Bold", "Helvetica Neue Bold", "HelveticaNeue", "Helvetica Neue", "TeXGyreHerosCnBold", "Helvetica", "Tahoma", "Geneva", "Arial Narrow", "Arial", sans-serif;
  margin: 18px auto;
}

.dashboard-container .single-article.single-article-manage-form-wrapper form .button-section {
  display: inline-block;
  border-radius: 12px;
  padding: 3px;
}

.dashboard-container .single-article.single-article-manage-form-wrapper form .button-section.button-section-newbie {
  background: #99ece3;
}

.dashboard-container .single-article.single-article-manage-form-wrapper form .button-section.button-section-intermediate {
  background: #e9ecff;
}

.dashboard-container .single-article.single-article-manage-form-wrapper form .button-section.button-section-senior {
  background: #618cff;
}

.dashboard-container .single-article.single-article-manage-form-wrapper form button {
  color: white;
  font-size: 15px;
  font-weight: bold;
  border: 2px solid white;
  background: #0a0a0a;
  padding: 5px 0px;
  width: 38px;
  border-radius: 8px;
}

.dashboard-container .single-article.single-article-manage-form-wrapper form button.selected {
  background: #66e2d5;
  padding: 15px 0px;
  width: 70px;
  font-size: 20px;
}

.dashboard-container .single-article.single-article-manage-form-wrapper form p .scale-pod {
  display: inline-block;
  width: 160px;
}

.dashboard-container .single-article div.ellipsis-menu {
  float: right;
  position: relative;
}

.dashboard-container .single-article div.ellipsis-menu button.ellipsis-menu-btn {
  display: block;
  float: right;
  margin-top: 0.3em;
  margin-right: -0.6em;
  border: 0px;
  background: transparent;
}

.dashboard-container .single-article div.ellipsis-menu button.ellipsis-menu-btn img {
  width: 20px;
}

.dashboard-container .single-article div.ellipsis-menu button.ellipsis-menu-btn:hover {
  background-color: #eee;
}

.dashboard-container .single-article div.ellipsis-menu ul.ellipsis-menu {
  position: absolute;
  right: 0;
  display: block;
  background-color: white;
  padding-left: 0;
  border-style: solid;
  border-color: #ccc;
  border-radius: 3px;
  border-width: 1px;
  margin-top: 1.75em;
  margin-right: -0.6em;
}

.dashboard-container .single-article div.ellipsis-menu ul.ellipsis-menu.hidden {
  display: none;
}

.dashboard-container .single-article div.ellipsis-menu ul.ellipsis-menu hr {
  margin: 0;
  color: #ccc;
  background-color: #ccc;
  height: 1px;
  border: 0;
}

.dashboard-container .single-article div.ellipsis-menu ul.ellipsis-menu li.ellipsis-menu-item {
  list-style: none;
}

.dashboard-container .single-article div.ellipsis-menu ul.ellipsis-menu li.ellipsis-menu-item form * {
  background-color: transparent;
}

.dashboard-container .single-article div.ellipsis-menu ul.ellipsis-menu li.ellipsis-menu-item:hover {
  background-color: #eee;
}

.dashboard-container .single-article .dashboard-collection-org-details .dashboard-top-pill {
  background: #e4e7e9;
  background: var(--theme-container-accent-background, #e4e7e9);
  color: var(--body-color);
  margin-right: 5px;
  padding: 3px 10px;
  border-radius: 100px;
  margin-top: 10px;
  display: inline-block;
  font-size: 0.9em;
}

.dashboard-container .single-article .dashboard-meta-details {
  font-size: 0.85em;
  padding: 3px 0px 6px;
  color: var(--card-color-tertiary);
}

.dashboard-container .single-article h2 {
  font-weight: 500;
  margin-bottom: 10px;
  margin-top: 8px;
  font-size: 22px;
  overflow: auto;
  display: inline-block;
  width: 100%;
}

@media screen and (min-width: 800px) {
  .dashboard-container .single-article h2 {
    font-size: 34px;
  }
}

.dashboard-container .single-article h2 .block-link {
  display: inline;
}

.dashboard-container .single-article h2 img {
  height: 40px;
  width: 40px;
  border-radius: 80px;
  vertical-align: -8px;
}

.dashboard-container .single-article h2 .dashboard-username {
  color: #666666;
  font-size: 0.6em;
  vertical-align: 0.16em;
}

.dashboard-container .single-article h2 .dashboard-follow {
  background: #66e2d5;
  background: var(--theme-dashboard-followers-follow-background, #66e2d5);
  border: 0;
  border-radius: 5px;
  color: #0a0a0a;
  color: var(--theme-dashboard-followers-follow-color, #0a0a0a);
  font-size: 15.9px;
  padding: 2px 10px;
}

@media screen and (min-width: 520px) {
  .dashboard-container .single-article h2 .dashboard-follow {
    font-size: 20px;
  }
}

@media screen and (min-width: 750px) {
  .dashboard-container .single-article h2 .dashboard-follow.follow-tag {
    margin: 8px 0px 8px 10px;
  }
}

.dashboard-container .single-article h2 .dashboard-follow.follow-user {
  float: right;
  margin-top: 8px;
}

@media screen and (min-width: 750px) {
  .dashboard-container .single-article h2 .follow-tag-actions {
    float: right;
  }
}

.dashboard-container .single-article h2 form {
  background: #f5f6f7;
  background: var(--theme-container-accent-background, #f5f6f7);
  padding: 8px 15px;
  margin-bottom: 10px;
  border-radius: 3px;
}

@media screen and (min-width: 750px) {
  .dashboard-container .single-article h2 form {
    display: inline-block;
  }
}

.dashboard-container .single-article h2 form input {
  font-size: 16px;
  border-radius: 3px;
  padding: 3px 8px;
  width: 50px;
  border: 1px solid #0a0a0a;
  font-weight: bold;
}

.dashboard-container .single-article h2 form input[type='submit'] {
  width: auto;
  background: #66e2d5;
  font-family: "HelveticaNeue-CondensedBold", "HelveticaNeueBoldCondensed", "HelveticaNeue-Bold-Condensed", "Helvetica Neue Bold Condensed", "HelveticaNeueBold", "HelveticaNeue-Bold", "Helvetica Neue Bold", "HelveticaNeue", "Helvetica Neue", "TeXGyreHerosCnBold", "Helvetica", "Tahoma", "Geneva", "Arial Narrow", "Arial", sans-serif;
  margin-left: 5px;
}

.dashboard-container .single-article h4 {
  margin-top: 0px;
  margin-bottom: 9px;
  margin-left: 2px;
  font-weight: 300;
  font-size: 16px;
  color: #434e57;
}

.dashboard-container .single-article .dashboard-actions {
  padding: 7px 0px 10px;
}

.dashboard-container .single-article .dashboard-actions form {
  margin: 0;
  padding: 0;
  display: inline;
}

.dashboard-container .single-article .dashboard-pageviews-indicator {
  display: inline-block;
  font-family: var(--ff-monospace);
  color: #333333;
  background: white;
  text-align: center;
  padding: 2px 8px;
}

.dashboard-container .single-article form {
  padding: 10px 0px;
  font-size: 15px;
  font-family: "HelveticaNeue-CondensedBold", "HelveticaNeueBoldCondensed", "HelveticaNeue-Bold-Condensed", "Helvetica Neue Bold Condensed", "HelveticaNeueBold", "HelveticaNeue-Bold", "Helvetica Neue Bold", "HelveticaNeue", "Helvetica Neue", "TeXGyreHerosCnBold", "Helvetica", "Tahoma", "Geneva", "Arial Narrow", "Arial", sans-serif;
  font-stretch: condensed;
}

.dashboard-container .single-article form select {
  margin: 0px 4px;
  vertical-align: 2px;
}

.dashboard-container .single-article form input[type='submit'] {
  border: 0px;
  font-size: 15px;
}

.dashboard-container .single-article .single-article__details {
  margin: 10px 0px;
}

.dashboard-container .single-article .single-article__details .user {
  color: #666666;
}

.dashboard-container .single-article .single-article__details .tag {
  margin-left: 10px;
}

.charts-container {
  max-width: 500px;
  height: 250px;
  margin: 0 auto;
}

.pro-container {
  width: 1400px;
  margin: 0 auto;
}

.summary-stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.summary-stats .card {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 150px;
          flex: 1 0 150px;
}

.toggles {
  text-align: center;
}

.toggles button {
  display: inline-block;
  padding: 2px 8px;
  margin: 8px;
  font-size: 1.3em;
  border-radius: 2px;
  border: 1px solid transparent;
  font-family: "HelveticaNeue-CondensedBold", "HelveticaNeueBoldCondensed", "HelveticaNeue-Bold-Condensed", "Helvetica Neue Bold Condensed", "HelveticaNeueBold", "HelveticaNeue-Bold", "Helvetica Neue Bold", "HelveticaNeue", "Helvetica Neue", "TeXGyreHerosCnBold", "Helvetica", "Tahoma", "Geneva", "Arial Narrow", "Arial", sans-serif;
  font-stretch: condensed;
  top: 18px;
  font-weight: 600;
  background-color: transparent;
}

.toggles button:focus {
  outline: 0;
}

.toggles button.selected {
  background: #cfd7ff;
  color: #0a0a0a !important;
  border: 1px solid #4e57ef;
  -webkit-box-shadow: 3px 4px 0px #4e57ef;
          box-shadow: 3px 4px 0px #4e57ef;
}

.graphs .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.graphs .row .card {
  -webkit-box-flex: 1;
      -ms-flex: 1 0;
          flex: 1 0;
}

.graphs h2 {
  margin: 5px;
  text-align: center;
}

.card {
  border: 1px solid #d6d6d6;
  border: var(--theme-container-border, 1px solid #d6d6d6);
  -webkit-box-shadow: 3px 3px 0px #bababa;
          box-shadow: 3px 3px 0px #bababa;
  -webkit-box-shadow: var(--theme-container-box-shadow, 3px 3px 0px #bababa);
          box-shadow: var(--theme-container-box-shadow, 3px 3px 0px #bababa);
  border-radius: 3px;
  padding: 20px;
  margin: 5px;
  background-color: #fff;
  background-color: var(--theme-container-background, #fff);
}

.card h4 {
  font-size: 0.8em;
  margin: 0px;
  padding: 0px;
}

.card .stat-percentage {
  font-size: 0.8em;
}

.card table {
  margin: 1rem auto;
  text-align: left;
  width: 50%;
}

.card table thead {
  line-height: 3rem;
}

.card table thead th:last-child {
  text-align: right;
}

.card table tbody {
  line-height: 2rem;
}

.card table tbody td:last-child {
  text-align: right;
}

.featured-stat {
  font-size: 2em;
}

.header-card {
  max-width: 100%;
}

.dashboard-manage-header {
  background: #002380;
  color: white;
  padding: 32px 0;
  line-height: 1.3em;
  -webkit-box-shadow: 0 100px 0 #002380;
          box-shadow: 0 100px 0 #002380;
}

.dashboard-manage-header .manage-page-error {
  background: #ff0000;
  color: white;
  padding: 20px 10px;
  line-height: 1.4em;
  border-radius: 3px;
}

.dashboard-manage-header .manage-page-success {
  background: #66e2d5;
  padding: 20px 10px;
  line-height: 1.4em;
  border-radius: 3px;
}

.dashboard-manage-header li {
  margin: 20px auto;
}

.dashboard-manage-header a {
  color: white;
  text-decoration: underline;
}

.dashboard-manage-header .dashboard-manage-header-inner-container {
  width: 800px;
  max-width: 96%;
  margin: 10px auto;
}

.dashboard-manage-header .dashboard-manage-nav {
  padding: 10px 0px;
  font-size: 0.9em;
  font-weight: bold;
}
/*# sourceMappingURL=dashboard.css.map */