/**
*
* Makes working with themeable CSS variables easier.
*
* $property: the CSS property to theme.
* $cssVariable: The CSS variable that will store the themed value.
* $fallback: The value to use as a fallback but as well for the CSS variable default value.
*/
/* Mixin for a load more wrapper, made by a container div and child button */
/**
*
* Generates the src property for @font-face. The mixin is required
* so that webpack for Storybook and the application can both
* generate the font URL correctly.
*
* $font: the font file name, e.g. 'OpenDyslexic-Regular.otf'
*/
/**
*
* Generates an image path. The mixin is required
* so that webpack for Storybook and the application can both
* generate the image path correctly.
*
* $image: the image file name, e.g. 'loading-ellipsis.svg'
*/
.github-repos {
  max-height: 400px;
  overflow-y: auto;
  background: var(--card-bg);
}

.github-repos.loading-repos {
  height: 400px;
  background: white url(image_path("loading-ellipsis.svg")) no-repeat center center;
  background-size: 50px;
}

.github-repos.github-repos-errored {
  height: 400px;
  color: #ff0000;
  padding: 2rem;
}

.github-repos .github-repo-row {
  background: var(--card-bg);
  padding: var(--su-3);
}

.github-repos .github-repo-row:hover {
  background: var(--card-hover-bg);
}

.github-repos .github-repo-row.github-repo-row-featured {
  background: var(--card-selected-bg);
}

.github-repos .github-repo-row .github-repo-row-name {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: var(--fw-medium);
}

.github-repos .github-repo-row .github-repo-row-name .crayons-indicator {
  margin-left: 5px;
}

.github-repos .github-repo-row .github-repo-row-name button:disabled {
  padding: var(--su-2);
  background: var(--accent-brand) url(image_path("loading-ellipsis.svg")) no-repeat center center;
  background-size: contain;
  height: 40px;
  width: 80px;
}

.github-repos .github-repo-row .github-repo-row-name button button,
.github-repos .github-repo-row .github-repo-row-name button a[role='button'], .github-repos .github-repo-row .github-repo-row-name.response-template-row-name button,
.github-repos .github-repo-row .github-repo-row-name.response-template-row-name a[role='button'] {
  width: 80px;
  margin-left: 2.5px;
  margin-right: 2.5px;
  text-align: center;
}

.signout_confirm-wrapper {
  padding: calc(15% + 50px) 2% 30%;
  text-align: center;
}

.membership-status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  background: var(--card-bg);
  border-radius: 5px;
  border: 1px solid #dbdbdb;
  padding: 0.5rem 0 0.8rem 0.5rem;
}

.membership-status dt,
.membership-status label {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 0.3rem;
  padding: 0.2rem;
}

.membership-status dd {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-top: 0.3rem;
  padding: 0.2rem;
}

.membership-status dd .no {
  color: #cc0000;
}

.crayons-notice--danger h3 {
  color: var(--accent-danger-darker);
}
/*# sourceMappingURL=settings.css.map */