/**
*
* Makes working with themeable CSS variables easier.
*
* $property: the CSS property to theme.
* $cssVariable: The CSS variable that will store the themed value.
* $fallback: The value to use as a fallback but as well for the CSS variable default value.
*/
/* Mixin for a load more wrapper, made by a container div and child button */
/**
*
* Generates the src property for @font-face. The mixin is required
* so that webpack for Storybook and the application can both
* generate the font URL correctly.
*
* $font: the font file name, e.g. 'OpenDyslexic-Regular.otf'
*/
.widget {
  position: relative;
  overflow: hidden;
  display: block;
  padding: 0 16px 16px 16px;
  margin: 8px 0 16px 0;
}

.widget:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 1px;
  background: var(--card-color-tertiary);
  opacity: 0.25;
}

.widget.fixed-widget {
  position: -webkit-sticky;
  position: sticky;
  width: 254px;
  top: 80px;
}

.widget.fixed-widget header {
  padding-left: 6px;
}

.widget:hover {
  opacity: 1;
}

.widget.showing {
  display: block;
}

.widget.podcast-pic-widget a {
  color: var(--body-color);
}

.widget.podcast-pic-widget .widget-body {
  padding-bottom: 10px;
}

.widget.podcast-pic-widget .podcast-pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 5px 0px;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.widget.podcast-pic-widget .podcast-pic img {
  width: 23px;
  height: 23px;
  border-radius: 100px;
  vertical-align: -7px;
  margin-left: 3px;
}

.widget.podcast-pic-widget .podcast-pic .podcast-name {
  width: calc(100% - 55px);
  display: inline-block;
  padding-left: 4px;
  font-weight: bold;
}

.widget.podcast-pic-widget .podcast-pic .podcast-name .podcast-name-inner {
  font-size: 14px;
  line-height: 15px;
  display: block;
  padding-left: 2px;
}

.widget.podcast-pic-widget .podcast-pic:hover {
  background: #f5f6f7;
  background: var(--theme-container-background-hover, #f5f6f7);
}

.widget hr {
  opacity: 0.2;
}

.widget header {
  position: relative;
  font-size: 0.9em;
  font-weight: bold;
  padding: 8px 0;
  font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  color: var(--card-color);
}

.widget header a {
  display: inline-block;
  color: var(--card-color);
}

.widget header a h4 {
  display: inline-block;
  margin: 0;
}

.widget header a:hover {
  text-decoration: underline;
}

.widget header .emoji {
  margin-right: 6px;
  display: inline-block;
  vertical-align: -4px;
}

.widget header .emoji img {
  width: 18px;
  border: 0px;
  cursor: default;
}

.widget header .widget-listing-live-count {
  background: #66e2d5;
  background: var(--theme-secondary-color, #66e2d5);
  color: var(--base-inverted);
  border-radius: 3px;
  display: inline-block;
  font-size: 0.8em;
  padding: 1px 5px 0px;
  line-height: 1.4em;
}

.widget header .widget-minimize-button {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: transparent;
  padding: 0px 5px 1px;
  border-radius: 3px;
  font-size: 1.2em;
  line-height: 0.6em;
  border: 1px solid #dbdbdb;
  border: var(--theme-secondary-color-border, 1px solid #dbdbdb);
  color: #c2c2c2;
  color: var(--theme-secondary-color, #c2c2c2);
}

.widget .widget-body {
  overflow-wrap: break-word;
}

.widget .widget-body.body-scrollable {
  height: calc(100vh - 300px);
  max-height: 390px;
  overflow-y: scroll;
}

.widget .widget-body.widget-body--sponsorship-arbitrary img {
  width: 100%;
}

.widget .widget-body .widget-podcast-ep {
  padding-bottom: 8px;
}

.widget .widget-body .widget-podcast-ep a {
  color: var(--body-color);
  font-weight: 500;
}

.widget .widget-body .widget-podcast-title {
  margin-top: -2px;
}

.widget .widget-body .widget-podcast-title a {
  color: #666666;
  font-size: 0.83em;
  opacity: 0.86;
}

.widget .widget-body .widget-listing-link {
  display: block;
  padding: 8px 16px;
  margin: 0 -16px;
  border-radius: var(--radius);
  color: var(--link-color);
}

.widget .widget-body .widget-listing-link:hover {
  color: var(--link-color-hover);
  background: var(--link-bg-hover);
}

.widget .widget-body .widget-listing-link .widget-listing-link-title {
  display: block;
}

.widget .widget-body .widget-listing-link .widget-listing-link-category {
  display: inline-block;
  color: var(--card-color-tertiary);
  font-size: 0.8em;
  line-height: 1;
}

.widget .widget-body .widget-accent {
  background: #cfd7ff;
  color: #0045ff;
  padding: 1px 5px;
  border-radius: 3px;
  margin-right: 1px;
}

.widget .widget-body .widget-footer {
  color: #666666;
  font-size: 0.9em;
  padding: 5px 0px 0px;
}

.widget .widget-body .widget-footer img {
  height: 15px;
  width: 15px;
  vertical-align: -2px;
  display: inline;
  border: 0;
}

.widget .widget-body .widget-subtext {
  padding: 0;
  margin: 0;
  color: var(--card-color-tertiary);
  font-size: 0.85em;
}

.widget .widget-body .widget-user-pic {
  display: inline-block;
}

.widget .widget-body .widget-user-pic img {
  height: 48px;
  width: 48px;
  margin: 0 8px 8px 0;
  border-radius: 100%;
}

.widget .widget-body .widget-listing-category {
  color: #666666;
}

.widget .widget-body .widget-listing-title {
  font-family: var(--ff-sans-serif);
  font-weight: 500;
  margin-bottom: 8px;
}

.widget p {
  margin: 8px 0;
}

.widget ul {
  padding-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.widget li {
  font-size: 1em;
  line-height: 1.32em;
  display: inline-block;
}

.widget li::before {
  font-size: 1.2em;
}

.widget ul img {
  width: 5%;
  border: none;
  padding-right: 4px;
  visibility: hidden;
}

.widget a:hover {
  opacity: 0.9;
}

.widget .row {
  position: relative;
  overflow: hidden;
  padding: 1px 0px 3px;
  font-size: 0.97em;
}

.widget .row .key {
  float: left;
  width: 20px;
  font-size: 0.8em;
  padding: 2px;
}

.widget .row .value {
  float: left;
  width: calc(100% - 42px);
  padding: 5px 7px;
}

.sidebar-sponsor {
  color: var(--card-color-tertiary);
}

.sidebar-sponsor img {
  width: 100%;
  max-width: 140px;
  margin-bottom: var(--su-2);
}

.sidebar-nav-element {
  display: block;
  position: relative;
}

.sidebar-nav-element a {
  display: block;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

@media screen and (min-width: 768px) {
  .sidebar-nav-element .sidebar-nav-link-follow {
    display: none;
  }
  .sidebar-nav-element:hover .sidebar-nav-link-follow {
    display: block;
  }
}

.sidebar-nav-element img {
  width: 30px;
  height: 30px;
  border: 0px;
  vertical-align: -8px;
  margin-right: 4px;
}

.sidebar-nav-element img.nav-emoji {
  height: 19px;
  width: 19px;
  vertical-align: -2px;
}

.sidebar-nav-element a.sidebar-nav-link {
  display: block;
  padding: 8px 16px;
  margin: 0 -16px;
  border-radius: var(--radius);
  color: var(--link-color);
  color: var(--link-color);
  font-weight: 400;
}

.sidebar-nav-element a.sidebar-nav-link:hover {
  color: var(--link-color-hover);
  background: var(--link-bg-hover);
}

.sidebar-nav-element a.sidebar-nav-link.sidebar-nav-link-tag {
  color: var(--link-color);
}

.sidebar-nav-element a.sidebar-nav-link-follow {
  position: absolute;
  right: 5px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.sidebar-sponsorship-level {
  text-align: center;
  font-weight: bold;
  width: calc(100% - 6px);
  padding: 26px 0px;
  border-radius: 3px;
  margin-bottom: 10px;
  font-family: "HelveticaNeue-CondensedBold", "HelveticaNeueBoldCondensed", "HelveticaNeue-Bold-Condensed", "Helvetica Neue Bold Condensed", "HelveticaNeueBold", "HelveticaNeue-Bold", "Helvetica Neue Bold", "HelveticaNeue", "Helvetica Neue", "TeXGyreHerosCnBold", "Helvetica", "Tahoma", "Geneva", "Arial Narrow", "Arial", sans-serif;
  font-stretch: condensed;
  background: var(--card-secondary-bg);
}

.crayons-sponsorship-widget img {
  width: 100%;
  height: auto;
  border-radius: var(--radius);
  display: inline-block;
  vertical-align: middle;
}
/*# sourceMappingURL=widgets.css.map */