.liquid-comment {
  padding: 0px;
  background: inherit;
  font-family: var(--ff-sans-serif);
  margin: 0.95em 0 1.2em;
  position: relative;
  border: 1px solid var(--card-color-tertiary);
  -webkit-box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.18);
          box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.18);
  border-radius: 3px;
  width: auto;
}

@media screen and (min-width: 760px) {
  .liquid-comment {
    margin: 0.95em auto;
    max-width: 620px;
  }
}

.liquid-comment .details {
  padding: 0px;
  margin: 13px;
  height: 33px;
  border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  color: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.liquid-comment .details img {
  left: inherit;
}

.liquid-comment .details img.profile-pic {
  min-height: inherit;
  height: 33px;
  width: 33px;
  border-radius: 100px;
  margin: 0;
}

.liquid-comment .details .icon-img {
  min-height: inherit;
  height: 16px;
  width: 16px;
  margin-right: 0px;
  opacity: 0.7;
}

.liquid-comment .details .comment-date {
  border: none;
  position: absolute;
  top: calc(28px - 0.25vw);
  right: calc(5px + 0.1vw) !important;
  font-size: 12px;
  text-align: right;
  display: block;
  width: 100px;
}

.liquid-comment .details .comment-date a {
  color: var(--card-color-tertiary);
}

.liquid-comment .details a {
  color: var(--card-color-tertiary);
  line-height: initial;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-right: 6px;
}

.liquid-comment .details a:last-child {
  -ms-flex-item-align: baseline;
      align-self: baseline;
  position: absolute;
  right: 5px;
}

.liquid-comment .body {
  font-family: var(--ff-sans-serif);
  color: #0a0a0a;
  color: var(--body-color);
  font-size: 0.95em;
  line-height: 1.35em;
  overflow: hidden;
  margin: 13px;
  word-wrap: break-word;
  width: auto;
  padding: 0;
  margin-bottom: 10px !important;
}

.liquid-comment .body pre {
  width: auto;
  margin-left: 0;
  padding: 10px;
}

.liquid-comment .body h1,
.liquid-comment .body h2,
.liquid-comment .body h3,
.liquid-comment .body h4,
.liquid-comment .body h5,
.liquid-comment .body h6 {
  padding: 0px;
  margin: 4px 0px calc(1.1vw + 10px);
  font-size: 1em;
  font-weight: 600;
}

.liquid-comment .body h1 {
  font-size: 1.3em;
}

.liquid-comment .body p {
  padding: 0px;
  font-size: 0.95em;
  margin: 0 0 15px 0;
}

.liquid-comment .body br {
  line-height: 220%;
}

.liquid-comment .body ul,
.liquid-comment .body ol {
  padding-left: 6px;
  margin: 0.8em 0.7em 0.8em 1em;
}

.liquid-comment .body ul {
  list-style-type: square;
}

.liquid-comment .body li {
  margin: 3px 0px calc(0.5vw + 5px);
}

.liquid-comment .body blockquote {
  border-left: calc(0.2vw + 2px) solid #333333;
  padding: 0.1% 3% 0.1% 2%;
  margin: 1.6em 1vw;
  font-size: 0.92em;
  line-height: 1.4em;
}

.liquid-comment .body blockquote p {
  padding: 0;
  margin: 0.95em 0 0.95em;
}

.liquid-comment .body blockquote.twitter-tweet {
  font-family: var(--ff-sans-serif);
  background: white;
  max-width: 480px;
  min-height: 135px;
  border: 1px solid #e9eef2;
  font-size: 17px;
  line-height: 20px;
  border-radius: 5px;
  margin-top: 10px;
  padding: 10px;
}

.liquid-comment .body .edited-notification {
  color: #999999;
  font-size: 0.7em;
  padding: 3px 0px 0px;
  position: relative;
  z-index: 1;
}

.liquid-comment .body code {
  margin: auto;
  white-space: nowrap;
  background: #f9fafa;
  background: var(--body-bg);
  padding: 1px 5px 0px;
  border-radius: 2px;
  color: #333842;
  font-size: 0.8em;
  display: inline-block;
  vertical-align: 0.1em;
  max-width: 100%;
  line-height: 1.4em;
}

.liquid-comment .body img {
  max-width: 100%;
}

.liquid-comment .body button {
  border: 0px;
  background: transparent;
  vertical-align: 2px;
  cursor: pointer;
  border-radius: 3px;
  display: block;
  padding: 0px;
  position: relative;
  z-index: 6;
}

.liquid-comment .body button img {
  left: inherit;
  min-height: 0px;
  height: 16px;
  opacity: 0.62;
}

.liquid-comment .body button:hover img {
  opacity: 1;
}

.liquid-comment .body button .voted-heart {
  display: none;
  font-size: 22px;
  line-height: 21px;
  vertical-align: -2px;
}

@media screen and (min-width: 390px) {
  .liquid-comment .body button {
    vertical-align: -7px;
  }
}

.liquid-comment .body button.reacted {
  color: #66e2d5;
}

.liquid-comment .body button.reacted img {
  display: none;
}

.liquid-comment .body button.reacted .voted-heart {
  display: inline-block;
}
/*# sourceMappingURL=CommentTag.css.map */