.ltag_github-liquid-tag {
  margin: 1.1em auto 1.3em;
  max-width: 580px;
  z-index: 1;
  position: relative;
}

.ltag_github-liquid-tag h1 {
  font-size: 1.05em !important;
  line-height: 1.2em !important;
  margin: 0 0 0.7em;
}

@media screen and (min-width: 500px) {
  .ltag_github-liquid-tag h1 {
    word-wrap: break-word;
    margin-bottom: 10px;
  }
}

.ltag_github-liquid-tag h1 a {
  color: var(--body-color);
}

.ltag_github-liquid-tag h1 .issue-title {
  font-weight: normal;
}

.ltag_github-liquid-tag h1 .issue-number {
  font-weight: 300;
  color: #a3aab1;
  letter-spacing: -1px;
}

.ltag_github-liquid-tag h1 img.github-logo {
  width: 1.15em !important;
  max-width: 1.1em !important;
  display: inline-block;
  left: 0px;
  margin-right: 0.3em;
  vertical-align: -0.18em;
  display: inline-block !important;
  margin-left: 0 !important;
  left: 0 !important;
  -webkit-filter: invert(0);
          filter: invert(0);
  -webkit-filter: var(--theme-social-icon-invert, invert(0));
          filter: var(--theme-social-icon-invert, invert(0));
}

.github-thread {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  background-color: #fff;
  background-color: var(--card-bg);
  border: 1px solid #d1d5da;
  -webkit-box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.18);
          box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.18);
  border-radius: 3px;
  font-size: 0.77em;
  line-height: 1.15em;
  margin: 0;
  width: 98%;
  overflow: hidden;
}

.github-thread .timeline-comment-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #f6f8fa;
  background: var(--card-bg);
  border-bottom: 1px solid #d1d5da;
  padding: 0px 15px;
}

@media screen and (min-width: 500px) {
  .github-thread .timeline-comment-header {
    display: block;
  }
}

.github-thread .timeline-comment-header .github-liquid-tag-img {
  min-height: inherit;
  width: 38px;
  height: 38px;
  border-radius: 3px;
  float: none;
  padding: 10px 12px 10px 0px;
  margin: inherit;
}

@media screen and (min-width: 500px) {
  .github-thread .timeline-comment-header .github-liquid-tag-img {
    float: left;
    padding: 0;
    margin-left: -9px;
  }
}

.github-thread .timeline-comment-header-text {
  padding: 10px 0px;
}

.github-thread .timeline-comment-header-text a {
  color: #586069;
}

.github-thread .timeline-comment-header-text a:hover {
  color: #586069;
  text-decoration: underline;
}

.ltag-github-body {
  padding: 1em 0.5em;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  max-height: calc(21vw + 165px);
  overflow: hidden;
}

@media screen and (min-width: 430px) {
  .ltag-github-body {
    max-height: calc(20vw + 153px);
  }
}

@media screen and (min-width: 800px) {
  .ltag-github-body {
    max-height: 310px;
  }
}

.ltag-github-body h1,
.ltag-github-body h2,
.ltag-github-body h3,
.ltag-github-body h4,
.ltag-github-body h5,
.ltag-github-body h6 {
  font-weight: 500 !important;
}

.ltag-github-body h1 {
  margin-left: 0;
  font-size: 1.9em;
  padding-bottom: 0.3em;
  border-bottom: 1px solid #eaecef;
  margin-top: 1em !important;
  margin-bottom: 0.9em !important;
}

.ltag-github-body h3 {
  margin-top: 1em !important;
  margin-bottom: 0.9em !important;
  padding: 0;
  font-size: 1.2em;
  font-weight: 600;
  line-height: 1.25;
}

.ltag-github-body h4 {
  padding: 0;
}

.ltag-github-body *:first-child {
  margin-top: 0 !important;
}

.ltag-github-body *:last-child {
  margin-bottom: 0 !important;
}

.ltag-github-body img {
  left: inherit;
}

.ltag-github-body blockquote {
  color: #6a737d;
  padding: 0px 1em;
  border-left: 0.25em solid #dfe2e5;
  margin: 16px 0px;
}

.ltag-github-body kbd {
  display: inline-block;
  padding: 3px 5px;
  font-size: 11px;
  line-height: 10px;
  color: #444d56;
  vertical-align: middle;
  background-color: #fafbfc;
  background-color: var(--card-bg);
  border: solid 1px #c6cbd1;
  border-bottom-color: #959da5;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 -1px 0 #959da5;
          box-shadow: inset 0 -1px 0 #959da5;
}

.ltag-github-body p {
  margin-top: 0px;
  padding: 0px;
  margin-bottom: 15px;
}

.ltag-github-body p a.github-user-link {
  color: var(--card-color-secondary);
  font-weight: 600;
  white-space: nowrap;
}

.ltag-github-body p a.github-user-link:hover {
  color: #24292e;
  text-decoration: underline;
}

.ltag-github-body code {
  border-radius: 3px;
  padding: 0.2em 5px 0px;
  margin: 0px;
  font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
}

.ltag-github-body pre {
  width: 100% !important;
  margin: 0px;
  color: black;
  background-color: #f6f8fa;
  padding: 0;
}

.ltag-github-body pre code {
  background-color: #f6f8fa;
  color: black;
  padding: 0em 0px 0px !important;
  line-height: 2em !important;
}

.ltag-github-body .highlight pre,
.ltag-github-body pre,
.ltag-github-body pre code {
  padding: 16px !important;
  overflow: auto !important;
  font-size: 14px !important;
  margin-bottom: 16px !important;
  background-color: #f7f7f7 !important;
  border-radius: 3px !important;
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
  color: black !important;
  border-radius: 3px !important;
  margin: 0.95em 0 1.2em !important;
}

.ltag-github-body .highlight {
  font-size: 14px !important;
  margin-bottom: 16px !important;
  border-radius: 3px !important;
}

.ltag-github-body b,
.ltag-github-body strong {
  font-weight: 600;
}

.ltag-github-body .pl-c {
  color: #969896;
}

.ltag-github-body .pl-c1,
.ltag-github-body .pl-s .pl-v {
  color: #0086b3;
}

.ltag-github-body .pl-e,
.ltag-github-body .pl-en {
  color: #795da3;
}

.ltag-github-body .pl-s .pl-s1,
.ltag-github-body .pl-smi {
  color: #333;
}

.ltag-github-body .pl-ent {
  color: #63a35c;
}

.ltag-github-body .pl-k {
  color: #a71d5d;
}

.ltag-github-body .pl-pds,
.ltag-github-body .pl-s,
.ltag-github-body .pl-s .pl-pse .pl-s1,
.ltag-github-body .pl-sr,
.ltag-github-body .pl-sr .pl-cce,
.ltag-github-body .pl-sr .pl-sra,
.ltag-github-body .pl-sr .pl-sre {
  color: #183691;
}

.ltag-github-body .pl-v {
  color: #ed6a43;
}

.ltag-github-body .pl-id {
  color: #b52a1d;
}

.ltag-github-body .pl-ii {
  background-color: #b52a1d;
  color: #f8f8f8;
}

.ltag-github-body .pl-sr .pl-cce {
  color: #63a35c;
  font-weight: bold;
}

.ltag-github-body .pl-ml {
  color: #693a17;
}

.ltag-github-body .pl-mh,
.ltag-github-body .pl-mh .pl-en,
.ltag-github-body .pl-ms {
  color: #1d3e81;
  font-weight: bold;
}

.ltag-github-body .pl-mq {
  color: #008080;
}

.ltag-github-body .pl-mi {
  color: #333;
  font-style: italic;
}

.ltag-github-body .pl-mb {
  color: #333;
  font-weight: bold;
}

.ltag-github-body .pl-md {
  background-color: #ffecec;
  color: #bd2c00;
}

.ltag-github-body .pl-mi1 {
  background-color: #eaffea;
  color: #55a532;
}

.ltag-github-body .pl-mdr {
  color: #795da3;
  font-weight: bold;
}

.ltag-github-body .pl-mo {
  color: #1d3e81;
}

.gh-btn-container {
  text-align: center;
  padding: 0.35em 0 1.35em;
  -webkit-box-shadow: -0px -0px 60px 42px #fff;
          box-shadow: -0px -0px 60px 42px #fff;
  -webkit-box-shadow: 0px 0px 60px 42px var(--card-bg);
          box-shadow: 0px 0px 60px 42px var(--card-bg);
  position: relative;
  z-index: 100;
}

.gh-btn {
  color: #0366d6;
  background-color: #f1f8ff;
  border-radius: 3px;
  line-height: 20px;
  padding: 0.25em 1.2em;
  opacity: 0.9;
  font-size: 0.94em;
  font-weight: bold;
  border: 1px solid #0366d6;
}

.gh-btn:hover {
  opacity: 1;
}
/*# sourceMappingURL=GithubTag.css.map */