/**
*
* Makes working with themeable CSS variables easier.
*
* $property: the CSS property to theme.
* $cssVariable: The CSS variable that will store the themed value.
* $fallback: The value to use as a fallback but as well for the CSS variable default value.
*/
/* Mixin for a load more wrapper, made by a container div and child button */
/**
*
* Generates the src property for @font-face. The mixin is required
* so that webpack for Storybook and the application can both
* generate the font URL correctly.
*
* $font: the font file name, e.g. 'OpenDyslexic-Regular.otf'
*/
.ltag__user__link {
  color: var(--body-color);
}

.ltag__user__link:active {
  opacity: 0.7;
}

.ltag__user__link.profile-image-link:hover {
  opacity: 1;
}

.ltag__user__link.profile-image-link:active {
  opacity: 1;
}

.ltag__user {
  font-family: var(--ff-sans-serif);
  border: 1px solid #dbdbdb;
  -webkit-box-shadow: 0px 1px 1px rgba(10, 10, 10, 0.1), 0px 1px 2px rgba(10, 10, 10, 0.1), 0px 0px 1px rgba(10, 10, 10, 0.8);
          box-shadow: 0px 1px 1px rgba(10, 10, 10, 0.1), 0px 1px 2px rgba(10, 10, 10, 0.1), 0px 0px 1px rgba(10, 10, 10, 0.8);
  -webkit-box-shadow: var(--theme-container-box-shadow, 0px 1px 1px rgba(10, 10, 10, 0.1), 0px 1px 2px rgba(10, 10, 10, 0.1), 0px 0px 1px rgba(10, 10, 10, 0.8));
          box-shadow: var(--theme-container-box-shadow, 0px 1px 1px rgba(10, 10, 10, 0.1), 0px 1px 2px rgba(10, 10, 10, 0.1), 0px 0px 1px rgba(10, 10, 10, 0.8));
  border-radius: 3px;
  display: block;
  margin: 0.95em 0 1.2em;
  position: relative;
  overflow: hidden;
  width: auto;
}

@media screen and (min-width: 760px) {
  .ltag__user {
    margin: 0.95em auto;
    max-width: 620px;
  }
}

.ltag__user .ltag__user__pic {
  display: inline-block;
  padding: calc(0.6vw + 8px);
  padding-right: 8px;
}

.ltag__user .ltag__user__pic img {
  width: calc(5vw + 30px);
  height: calc(5vw + 30px);
  margin: auto auto !important;
  border-radius: 50%;
}

.ltag__user .ltag__user__content {
  display: inline-block;
  vertical-align: top;
  padding: calc(0.5vw + 6px);
  padding-left: 0;
  width: calc(100% - 8vw - 60px);
}

.ltag__user .ltag__user__content h2 {
  margin: 0;
  padding: 0;
  font-weight: 500;
}

.ltag__user .ltag__user__content h2 .follow-action-button {
  visibility: hidden;
  min-height: 25px;
  display: inline-block;
  color: white;
  background: #66e2d5;
  border-radius: 5px;
  font-size: 0.6em;
  vertical-align: 0.3em;
  padding: 2px 20px;
  border: 1px solid #66e2d5;
  margin: 0.2em 0.5em;
  cursor: pointer;
}

.ltag__user .ltag__user__content h2 .follow-action-button.following-butt {
  background: #66e2d5;
  color: white;
}

.ltag__user .ltag__user__content h2 .follow-action-button.showing {
  visibility: visible;
}

.ltag__user .ltag__user__content .ltag__user__social {
  margin: 2px 0px;
  padding-left: 0px;
  line-height: 22px;
  font-size: 0.75em;
}

.ltag__user .ltag__user__content .ltag__user__social a {
  color: var(--card-color-tertiary);
  margin-right: 10px;
  display: inline-block;
}

.ltag__user .ltag__user__content .ltag__user__social a .icon-img {
  float: left;
  width: 15px;
  height: 15px;
  border-radius: 3px;
  vertical-align: -2px;
  margin: 3px 0;
  opacity: 0.7;
}

.ltag__user .ltag__user__content .ltag__user__summary {
  margin: 0.3em 0;
  padding: 0;
  font-size: 0.889em;
  margin-bottom: 0;
  line-height: 1.2em;
  opacity: 0.85;
}

.ltag__user .ltag__user__content .ltag__user__taglist {
  margin: 1em 0px;
  padding: 0px;
  line-height: 1;
  font-size: 0.8em;
  opacity: 0.7;
}

.ltag__user .ltag__user__content .ltag__user__taglist a {
  color: #0a0a0a;
  margin-right: 1em;
  display: inline-block;
  height: 30px;
}

.ltag__user .ltag__user__content .ltag__user__taglist img {
  display: inline-block !important;
  width: 1em !important;
  height: 1em !important;
  margin-right: 2px;
  vertical-align: -0.1em;
  left: 0px;
}
/*# sourceMappingURL=UserTag.css.map */